[2021-04-14 15:40] #440 closed

[2021-04-14 15:42] menthol1960 commented on #494
ITS ok folks i sussed it was a faulty sensor

[2021-04-14 15:42] #494 closed

[2021-04-14 15:42] menthol1960 commented on #494
put on switch sensor works perfect

[2021-04-14 15:42] Giadej commented on #493
😅
Could you share the steps you followed to get the script to work?

[2021-04-14 15:43] Jyers commented on #494
If it is parking right away it might be due to your original sensor being inverted as to the default set in the firmware. https://github.com/Jyers/Marlin/discussions/481 is discussing a possible switch, but I'm glad you have a second one that works properly.

[2021-04-14 15:44] Jyers commented on #492
Reset eeprom and try that again, definitely not what should be happening

[2021-04-14 15:52] Jonny11bonk commented on #493
I will send you a video. Ill make it now.

[2021-04-14 16:08] raymond-arifianto commented on #492
I did reset it, and it still does that. Any idea to what's causing it? do you think i should try plugging my bltouch to the z endstop port? Not sure if i want to splice a (2) perfectly good cable(s) but if that solves it then it's worth it since right now i can barely use my printer.

Also, i noticed when moving the Z axis, it stutters almost every few steps, and it thinks that it reaches the dete

[2021-04-14 16:15] drveni commented on #440
im try to recompale, there is no line #define Z_MIN_PROBE_PB1..

[2021-04-14 16:19] Jonny11bonk commented on #78
I can do Slovak language.

[2021-04-14 19:32] Jyers commented on #492
Oh wow, yeah that definitely seems like a serious hardware issue of some kind. Just a sanity check, you're sure your using the correct version for your board (4.2.2 or 4.2.7)

[2021-04-14 19:51] JP-rg commented on #492
Just another note, from someone having similar problems, have measured voltages and come to same conclusion as to dedicated port missing resistor. (Mentioned by Xplorer in discussions) For info it doesn't matter what firmware I use the problem is there. Ender3 V2, latest Creality packaged BLTouch> Am about to rewire and compile to check. I will report back.
If it works with further checking I thin

[2021-04-14 20:03] Hraefin opened #500 "Printer resets on issuing G29 S0 to view levelling mesh (in octoprint)"
I am running the precompiled firmware E3V2-ManualMesh-5x5-v4.2.2.bin from the 1.3.0 release.
Everything works perfectly except when I issue a G29 S0 command (via octoprint terminal).

When I issue this the printer does a reset and octoprint says the firmware reported an error.  Very vague.
I know this might be an issue with octoprint and not the firmware, but I do not know of another way to verify

[2021-04-14 20:08] Jyers commented on #492
@JP-rg Just out of curiosity, how old is your V2? I just find it strange that I'm able to run a BL Touch on the port with no problems at all while other face fatal errors. Perhaps creality has fixed the missing resistor on newer boards.

[2021-04-14 20:11] gokhanselen commented on #493
Hello. What should I do to make the menu beautiful?

[2021-04-14 21:09] JP-rg commented on #492
My V2 is only a month old, but delivered with 4.2.2 mother board. Can't seem to find date actually made...

[2021-04-14 21:56] tititopher68 commented on #500
Hello,

For this firmware, itsn't G29 S0 but M420 V ! Because Manual Mesh don't use MBL mode but Bilinear Mode ;-)

[2021-04-15 01:56] hayhay7789 commented on #493
Having a similar problem. I got the boot screen working ok, and some of the icons work, but the rest are blank or scrambled.

I’ve used GIMP to edit the hue of my images (spare the Creality logo and the loading bar) then opened each one with MS Paint and saved to disk to convert them to baseline. I also used the python tools which seem to work ok.

![83E8BF92-3CAD-4C4F-AD3E-9F4BB359BCAC](https://u

[2021-04-15 02:34] raymond-arifianto commented on #492
So now the probing works again, and the Z no longer move extra steps. What i did was initiate creating mesh with the bed on 0 temp (i remembered doing something similar on my first encounter and it fixed it). BUT the mesh result was EXTREMELY inaccurate, where it says there is s 4mm difference on the bed height. When i tried to print, the nozzle hits my bed, damaging it. I assume it's an inaccurac

[2021-04-15 02:56] Fury1SOG opened #501 "G29 J command results in 2nd probing point X-coordinates outside of bed limits"
Hello,

### Description

When a G29 J command is performed with E3V2-UBL-BLTouch-15x15-HS-v4.2.2.bin I have noticed that the 2nd probing point coordinates are set to X: 245 Y: 28.1. The X coordinates are outside of the stops at 230mm, but is this intended?

I have a cable chain mount (https://www.thingiverse.com/thing:4316238) installed on the X-carriage which strikes the Z-frame during G29 J.

##

[2021-04-15 03:38] aryajuanda commented on #501
my X can go to 245 without hit anything..
Bed size 230 , Max x pos = bed size + 15.

with X in 245 it can reach far right on the bed (around 200 mm for the probe)

[2021-04-15 04:23] Fury1SOG commented on #501
In the current configuration, using a direct drive with the extruder motor mounted to the X carriage would have disastrous consequences, but I guess people who use DD compile their own firmware?

[2021-04-15 04:32] Jyers commented on #501
That is the general assumption yes. The precompiled configs are made to work well with a relatively stock printer, because if you're adding things like direct drive I have full faith you'll be able to handle compiling the firmware to match. Trust me, its worth it for the added customization alone and its not nearly as hard as it is daunting.

[2021-04-15 04:32] #501 closed

[2021-04-15 04:33] Jyers commented on #500
@tititopher68 is correct, manual mesh uses bilinear leveling with the probe manually option. M420 V1 will do what you want

[2021-04-15 04:33] #500 closed

[2021-04-15 05:04] Jyers commented on #492
@Bangber So sorry to hear that you're still facing issue. I wish I could help more, but from what I can tell this all comes down to either creality's faulty hardware, or bugs from upstream marlin. All of which are out of my hands. Hopefully together we can track down the real source of this issues so we can finally have a clear solution rather than all this confusion.

[2021-04-15 05:06] raymond-arifianto commented on #492
@Jyers yeah, thanks a lot for your attention! Love the firmware while it lasted, hopefully i can get a way to get it running again soon

[2021-04-15 08:24] Nadeox1 commented on #495
Ok, thanks for checking! Using shorter names works fine.
I just wanted to add that in the previous version (when this was still called _Ender V2 Rewrite_) this issue was not present. Perhaps it got introduced with some update. Anyhow, great work as usual :)

[2021-04-15 09:47] Jonny11bonk commented on #493
I have a similar problem, I dont have the Info button, and the Cancel/Confirm buttons.

[2021-04-15 10:58] Giadej commented on #493
Thank you, if you have had problems with the video you could also describe the steps of "how to"...

[2021-04-15 11:24] Jonny11bonk commented on #493
Extracting 9.ICO, python/or the directory and .exe of "python splitIco.py 9.ICO output"

Reverse: python makeIco.py output 9.ico

("output" is the name of the folder)
You also need a pillow library: python -m pip install pillow

[2021-04-15 12:11] Giadej commented on #493
Solved, thank you

[2021-04-15 12:56] JP-rg commented on #492
@Jyers Your Firmware is fine (apart from either my settings or something else in UBL leveling), it’s a motherboard issue…… I went with the 10k resistor option to solve the problems. Photo attached
![image](https://user-images.githubusercontent.com/82541357/114872105-e33c6f80-9df1-11eb-921e-d3d0c098c308.png)

I have tested both 3x3 and 5x5 bilateral pre-compiled copies plus UBL 10x10 and 15x15 pre-

[2021-04-15 13:17] Jyers commented on #492
@JP-rg The stopping at 65 and 157 "issue" has been well documented and just relates to how UBL handles the mesh. See #403 for more info. The octoprint timeout is most likely an issue with its settings and how long its set to wait before throwing an error. I would recommend using M420 V1 instead of re-probing the bed in your bed visualizer script.

[2021-04-15 13:23] JP-rg commented on #492
Many thanks for the Other issue, I will look into it when I get a moment.

I hope the testing shows that it's a Creality hardware problem that is solved with 10k resistor, what a pain..... how many people have a soldering iron, 10k resistor and the NERVE......

[2021-04-15 16:37] Hraefin commented on #500
Thank you folks!  I was not aware of the M420 V command and it worked exactly as expected.  I appreciate your time.  I do wonder why the printer would do a hard reset when the G29 command was issued though.

Awesome work on this firmware.  It's amazing what you're doing with the UI and functionality over the vanilla marlin firmware.

[2021-04-15 17:01] Jonny11bonk commented on #493
The issue has been resolved. You need to be careful when saving/exporting the .jpg image.

In GIMP, you need to uncheck everything except the keep original quality. You can set it on 100% if you're starting from scratch
![image](https://user-images.githubusercontent.com/82465758/114908546-7db1a880-9e1c-11eb-8a18-abbf06b7bed9.png)

Most of the programs, don't have this feature.

[2021-04-15 17:01] #493 closed

[2021-04-15 18:01] gothcha commented on #492
It is good to see further confirmation that the 10K resistor solves the main unreliability issue with the dedicated port. I am running later version of 1.2.2 with the upstream merge, but prior to the brightness mods, and like Jyers have had no issues with UBL probing.

[2021-04-15 20:09] Jyers commented on #495
That's interesting as I believe it uses the same framework. Maybe I'll take a look back and see what's changed. Thanks for letting me know!

[2021-04-15 20:11] Jyers commented on #500
In case you're interested, as @tititopher68 said, the S parameter of G29 is to set the xy probing speed, hence why setting it to zero causes a firmware error. Check out this page for more info on the bilinear gcode: https://marlinfw.org/docs/gcode/G029-abl-bilinear.html

[2021-04-15 20:15] nuker1110 opened #503 "Z-Offest homing gouged my print bed."
### Description

After upgrading the springs on my Ender 3 v2, had to change the Z-Offset to NOT damage my bed due to the height difference. Homing Z0 worked alright, pressing down on the corner of the bed and compressing the spring to reach the Z-stop. Then, to my abject horror, it moved laterally _with the nozzle contacting the bed_ before moving Z to the offset height. Now I have a skid scratch

[2021-04-15 21:11] smooreace commented on #503
Thats what happens when you dont set your Z stop properly and/or verify
things before you start an automated process.

On Thu, Apr 15, 2021 at 3:15 PM nuker1110 ***@***.***> wrote:

[2021-04-15 21:34] eblieb opened #506 "Constantly getting M112 errors with octoprint"
Any idea why I am getting so many M112 restart required on this firmware with octoprint?

[2021-04-15 21:39] Jyers commented on #506
Octoprint sends M112 commands when it thinks the firmware has encountered an error of some kind. It seams that it gets a lot of false positives. Check this [wiki page](https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings) for how to turn off this behavior.

[2021-04-15 21:39] #506 closed

[2021-04-15 21:40] smooreace commented on #506
Search is your friend.

On Thu, Apr 15, 2021 at 4:34 PM eblieb ***@***.***> wrote:

[2021-04-16 00:08] nuker1110 commented on #503
The question remains, if you're going to move the head to the center of the plate, why find the Z origin at the corner?

And then, why move XY before Z when trying to set the Z offset?

And there was no way for me to know that it was going to move XY first prior to setting the Z offset, which was the entire process I was trying to complete.

[2021-04-16 01:18] raymond-arifianto commented on #492
@JP-rg Gotcha, thanks a lot for the update! Although I'm not sure if it's because yours is bought recently (post-november version with the layer shift issue) or inherently it's a flaw found in all units. Hope someone with pre-November unit can confirm this too. May i know what's the ideal current between both pins so that i can check it for myself?

Also, for those who have the same issue with the

[2021-04-16 01:47] Jyers commented on #503
Good news is, if you're using a brass nozzle like most, your bed is probably fine. Brass is quite soft and so what you perceive as a scratch is most likely just the brass having rubbed off on your bed.
The issue in this instance was that you should generally level your bed before setting your offset. In that case you would have immediately found all the corners to have been too high and set them l

[2021-04-16 01:47] #503 closed

[2021-04-16 01:48] Jyers commented on #492
Closing this for now as it would seem its not a firmware issue. Please feel free to keep updating this or move it to a discussion if you want to further investigate the issue.

[2021-04-16 01:48] #492 closed

[2021-04-16 05:20] billygr opened #510 "M112 with 1.3.0 BLTouch-5x5-v4.2.2 when the SD card is in slot"
Hi,

I was using successfully the 1.3.0 E3V2-ManualMesh-5x5-v4.2.2 Ender 3 V2 with no issues at all.

Upgraded to 1.3.0 E3V2-BLTouch-5x5-v4.2.2 (BLtouch works as expected, including mesh etc)

The following behavior is reproducible:
With the SD card in slot
Power up the printer
Connect with Octoprint(OctoPrint 1.5.3 Python 3.7.3 OctoPi 0.18.0)
M112

Shutdown the printer and remove the SDCARD
Power

[2021-04-16 10:22] ussdeveloper commented on #510
Experiencing the same problem. Working fine octopi and without sd.

[2021-04-16 13:55] Jyers commented on #510
Interesting. Good to know that the sd card is part of what's contributing to this bug. This originates in main marlin, so all we can really do is wait for the fix. On the bright side there is a workaround here to prevent the M112 command from being sent https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings

[2021-04-16 13:55] #510 closed

[2021-04-16 14:47] billygr commented on #510
Thanks , will search also for it upstream

[2021-04-16 19:34] mlask commented on #78
I can do Polish (pl-pl) translations.

Also, it's worth mentioning that there's [font dump](https://github.com/enigmaquip/T5UIC1_Font) of DWIN T5UIC1 available. With access to the right tools it's possible to create own font for that screen.

[2021-04-17 00:52] JP-rg commented on #78
I can get Spanish done, I normally live there but the Pandemic

[2021-04-17 04:20] skyline131313 opened #516 "Add a Fast Manual Leveling Mode?"
Basically what I've been doing is doing "bed leveling" and watching the display as it reads out the Z values when it does the probing. Then I adjust the bed depending on the values I read out; and repeat. Thing is, it only shows the values for a short time so you either have to remember or write it down. And I don't want to do the whole bed I usually just want to do just the 4 corners (with an adj

[2021-04-17 07:50] gokhanselen commented on #14
Merhaba Jyers menü yüklemek istiyorum ama dosya bulamadım yardımcı olurmusun Windows 10 için Posta ile gönderildi  

[2021-04-17 09:07] happycncer opened #517 "SD Card Sorting"
Sd Card is sorted 'alphabetically' rather than 'Most recent First'

It appears, having checked the source files, that both SDCARD_RATHERRECENTFIRST and  SDCARD_SORT_ALPHA have both been defined as active in the Configuration_adv.h file. It should surely be one or the other defined - not both?

As it is at the moment, all my files are shown haphazardly on the Ender display - alphabetically rather t

[2021-04-17 14:48] Jyers commented on #517
I believe the files are stored alphabetically on the stock creality firmware as well, so it will most likely stay that way on this firmware. I will however look into adding this as an optional setting in the advanced menu.

[2021-04-17 14:48] #517 closed

[2021-04-17 14:51] Jyers commented on #516
Marlin has a feature called assisted tramming, which does essentially what you want here. It probes the 4 corners and then tells you how to turn each knob. Its on the todo list, so hopefully in a future update I'll get it implemented.

[2021-04-17 14:51] #516 closed

[2021-04-18 07:40] sbsoneji opened #524 "Missing X&Y nozzle offset"
Ender 3 v2 comes with -3mm X and 1-1.5mm Y offset nozzle so if i use it in cura then it sets positions greater than 230mm for prints so prints doesn't come as designed dimensions. Another way is that in addition to above method we substract the offset from max X & Y value, it works fine but we lose printable bed area. So set X&Y offset function is needed in marlin firmware

[2021-04-18 09:11] Tuncay-Ayhan commented on #524
What exact firmware version are you using?

[2021-04-18 09:15] sbsoneji commented on #524
V1.3.0 on Creality V4.2.2 board

[2021-04-18 09:35] Tuncay-Ayhan commented on #524
1. Do you use a BL Touch?
2. nd what version in 1.3.0 are you using?

[2021-04-18 09:43] sbsoneji commented on #524
I am using E3V2-ManualMesh-5x5-v4.2.2.bin firmware

[2021-04-18 09:45] Tuncay-Ayhan commented on #524
No BL Touch?

[2021-04-18 09:47] sbsoneji commented on #524
BL Touch NOT installed

[2021-04-18 10:32] Tuncay-Ayhan commented on #524
You should not have to change any settings about the offsets within the firmware. Maybe @Jyers understands the issue?

[2021-04-18 11:38] #524 closed

[2021-04-18 11:55] sbsoneji opened #529 "Missing Set Home Offsets Menu Function On LCD Display"
@Jyers
Stock firmware has "set home offsets function" but V1.3.0 build lacks it.
This version lacks it (in stock firmware it is under prepare section).
This function is very handy as Ender 3 V2 does comes with offset nozzle from bed in X&Y both.
I am currently using E3V2-ManualMesh-5x5-v4.2.2.bin (from V1.3.0)
I have attached images for referance.
![New](https://user-images.githubusercontent.com/8

[2021-04-18 12:56] xantrk opened #530 "Print Finish Progress is not 100%"
![image](https://user-images.githubusercontent.com/1756795/115146220-3a467c80-a05e-11eb-98fa-a97eac4e9d38.png)

Hello, I saw d35b6093c154d65fda7db7d86c4f9d022ae4690d should fix this issue but, I had this screen upon my print finish. The progress is not set to 100% and remaining time increased. I am using Emit M73 option in PrusaSlicer to show accurate remaining time, not sure if it is related. Wan

[2021-04-18 14:06] Jyers commented on #529
Ahhh, yes. I remember that replaces the Z Offset item in the stock firmware when a probe is not present. I'll most likely add this option to the advanced or motion menu.

[2021-04-18 14:29] Jyers commented on #530
Just a sanity check, you do compile you're own version right? As this commit was after the last release and therefore is not included in 1.3.0.

[2021-04-18 14:30] xantrk commented on #530
Yes, compiled yesterday. You can see that text has yellow color, which belongs to a later commit(color edits)

[2021-04-18 14:45] f-zappa opened #531 "Probe releasing too fast for second measurement"
Installed this firmware yesterday and already love it, but I found one problem with my BLtouch (clone). When dual-probing, the probe is released when the head is still very close to the bed, making the probe hitting the bed. This might destroy the sensor after some time. Behaviour was different with my old, self-compiled firmware, I compared the configs but I couldn't figure out which setting is r

[2021-04-18 14:53] f-zappa commented on #531
https://user-images.githubusercontent.com/43571251/115149957-a0370200-a066-11eb-887c-9ddc41111d01.mov

[2021-04-18 14:57] Jyers commented on #530
I think I fixed this now.

[2021-04-18 14:57] #530 closed

[2021-04-18 21:25] aryajuanda commented on #531
<img width="805" alt="Screen Shot 2021-04-19 at 04 24 11" src="https://user-images.githubusercontent.com/4106760/115161317-37cc3d00-a0c7-11eb-9b08-8b44cdc64d8a.png">

you can set the clearance here...

[2021-04-19 00:05] Jyers commented on #529
I have added a Home Offsets menu to the Motion menu. If you compile your own you can get it now, or it will be out in the next release.

[2021-04-19 00:09] #529 closed

[2021-04-19 01:07] Jyers commented on #531
Let me know if @aryajuanda solution works. If not I can assist in looking for another potential fix.

[2021-04-19 09:00] f-zappa commented on #531
I changed this values to 15/10/10, but the behaviour is still the same.

[code]
Any other ideas?

[2021-04-19 16:08] tommymonk opened #538 "Extruder stops following filament runout"
I had a weird issue today following a filament runout.

1) The filament ran out and the runout sensor paused the print and ejected the remaining filament
2) I inserted a fresh filament and selected OK.
3) It fed back in, purged and resumed printing, I confirmed that it resumed at the right position and the filament was getting laid down properly
4) A few seconds later the extruder stops turning wh

[2021-04-19 16:30] Jyers commented on #538
My best guess is that this would be a Marlin issue. Let me know if your able to recreate the issue.

[2021-04-19 17:44] tommymonk commented on #538
Sure, I was just posting in case someone pointed out something I missed, if it happens again I'll create issue upstream, feel free to close

[2021-04-19 19:15] #538 closed

[2021-04-19 20:31] eblieb opened #541 "Naming convention for Firmware"
Is it possible to name the firmware in the future with the version in the filename?

[2021-04-19 20:37] smooreace commented on #541
You can name it anything you want

On Mon, Apr 19, 2021 at 3:32 PM eblieb ***@***.***> wrote:

[2021-04-19 20:39] eblieb commented on #541
Yes I am very well aware of this... But would be useful in my download folder so I have an idea which version is in there instead of having to constantly delete whatever is in my download folder and redownloading the firmware just to ensure which version it is.

[2021-04-20 05:14] Jyers commented on #541
I'll look into this. If its possible to automatically add the tag name from my github workflow then yes. If it would require me to manually change the workflow every time, probably not.

[2021-04-20 05:14] #541 closed

[2021-04-20 08:54] aryajuanda commented on #531
mmm i have no idea.. i m not using normal mode, i use HS (High Speed) mode so my probe nozzle did not push in n out each time..

[2021-04-20 16:09] xantrk commented on #530
Dear @Jyers , just updated to latest commit and this is what I got. It is completely not a big deal, but just wanted to let you know.

![image](https://user-images.githubusercontent.com/1756795/115429232-e5e0ff80-a20b-11eb-9c2e-fe112445041c.png)

I believe these guys ( https://github.com/Jyers/Marlin/discussions/540 ) are also have this issue.

[2021-04-20 16:12] vincechiu commented on #530
Yes, same here for 1.3.1, I got 99% with last completed print.

[2021-04-20 19:02] AngleV opened #548 "Glitch in Live movement option"
### Description
There is a small glitch in the Motion Menu when you select the Live movement option.

### Steps to Reproduce

1. Select  Live Movement.
2. Now try to select to move the extruder.
3. Popup appears informing you to go to preheat menu.
4. Select Cancel.

The redraw back to menu glitched and a new checkbox appears where it shouldn't.

[2021-04-20 21:10] tititopher68 commented on #548
@AngleV Just tested like you but no issue !

[2021-04-20 23:13] Jyers commented on #530
Think I found the issue, you all are printing from SD right?

[2021-04-21 01:27] dwery opened #549 "[FR] move the change filament option at the bottom of the menu"
While using z up and z down I inadvertently triggered the filament change button, which is just below, a few times already.
I would suggest to move it down and leave less "dangerous" options near z-up/down.

[2021-04-21 03:53] xantrk commented on #530
Yes, I am. Thanks!

[2021-04-21 12:17] vhristenco opened #553 "LCD Beep on/off does not save"
Compiled the latest firmware and the LCD Beep option isn't saved on power off.
Already tried storing settings from the menu, but no effect. The beep is always on after powering on the printer.

[2021-04-21 13:52] Jyers commented on #553
It's not currently a persistent settings, but I suppose that would be beneficial. I'll add it the eeprom settings.

[2021-04-21 13:52] #553 closed

[2021-04-21 13:54] Jyers commented on #549
Hmmmmm, that should probably have a confirmation popup anyway. I'll work on adding a popup and or moving the item.

[2021-04-21 13:54] #549 closed

[2021-04-21 17:25] Majestry opened #556 "Z axis motor is disabled after the print"
### Description

### Steps to Reproduce

1. Print from SD card is completed, the confirm was not clicked using the display.
2. The last GCode lines are next (generated with Cura 4.8.0 or 4.9.0)
[code]

3. The Z axis motor is disabled, and this cause the X gantry to fall and hit the bed with nozzle. However, according to the M84, it should be powered, so X gauntry stays on the position.

P.S. Not s

[2021-04-21 17:40] AngleV commented on #548
I'm sorry i gave wrong description.
The Extruder 0.00 value gets to the below "row" next to probe checkbox and dissappeared from Extruder selection. Check the attached photo.

![176752036_453154075744776_2812083902158962549_n](https://user-images.githubusercontent.com/7430985/115597273-c3b9b100-a2e1-11eb-870d-8ab2183b44e1.jpg)

[2021-04-21 18:07] tititopher68 commented on #556
Neither one nor the other, nor the firmware but probably your hardware....

[2021-04-21 18:14] Majestry commented on #556
Not sure if this the hardware issue.
Board 4.2.7, all other stuff is stock except the BLTouch.
Previously i had tighten the wheels, so gauntry stay in place even if the Z motor was disabled.
After last maintenance, i adjusted the tightness of wheels and cleaned/lubricated z rod, it moves much more better and even fall under its weigth. That's when i noticed this issue.
Will try to record some vide

[2021-04-21 18:15] Schnabulation opened #557 "Z-Offset tool bug when USE_PROBE_FOR_Z_HOMING is undefined"
### Description

(This is a follow up to this discussion: https://github.com/Jyers/Marlin/discussions/505)

This issue started to appear in build 1.3.0 and upwards: When using the Z-offset menu together with "Live Adjustment" the Z-offset seems not to stick and reset after homing. Back on 1.2.1 the issue did not appear.

I did a lot of testing today and found that it is tied to the way my printer

[2021-04-21 18:36] Schnabulation commented on #557
Further testing revealed that this is exactly the problem! I edited [creality_dwin.cpp](https://github.com/Jyers/Marlin/blob/Ender_3_V2_Extensible_UI/Marlin/src/lcd/extui/lib/creality_dwin/creality_dwin.cpp) and commented line 1047 out, in turn keeping mesh bed leveling on during the usage of the Z-offset tool.

It rendered the tool useful again and behaving the same as in version 1.2.1.

[2021-04-21 19:52] tititopher68 commented on #557
No, this line must be enabled....but didn't you forget to do this :
#define RESTORE_LEVELING_AFTER_G28
//#define ENABLE_LEVELING_AFTER_G28

[2021-04-21 20:58] Schnabulation commented on #557
Thank you but yes, I have already enabled that before.

[2021-04-22 04:30] aryajuanda commented on #556
it should not fall under it weight when we disable the motor.. its a hardware issue..

[2021-04-22 04:36] Majestry commented on #556
Again. The root of problem is not in falling gauntry. Even with tight wheels and not falling gauntry - why the Z motor is disabled immediately after print is finished, if no explicit command to disable it was sent?

[2021-04-22 05:40] aryajuanda commented on #556
sorry i dont know what the goal with that kind of setup.. did it work in creality official firmware? never test to keep the motor on after printing done..

i always disable all motor after printing, from slicer also from octoprint (G-Code Script), to make sure the printer is cooling down and ready for next print, now my printer is almost up for 24 h/day..

[2021-04-22 05:40] Majestry commented on #556
Ok, i got much more detailed steps.
1. Turn on the printer.
2. Perform any action to make steppers on (e.g., auto home or load filament)
3. Wait till steppers will be disabled by timeout (about 2 minutes).
4. Make steppers active again (e.g., using G0 command from serial or moving any axis from screen)
5. Send M84 X Y E command to serial
6. All steppers will be immediatly disabled, but the Z stepp

[2021-04-22 05:52] Jyers commented on #556
This is actually a hardware limitation I believe. On the Creality boards the xyz steppers drivers all share the same enable pin, so I don't think it's possible to disable just one.

[2021-04-22 05:52] #556 closed

[2021-04-22 05:53] Majestry commented on #556
Cool. Thank you for the explanation, and sorry for disturbing.

[2021-04-22 08:07] tititopher68 commented on #557
It is written in Configuration.h this:
 `If` using a Probe for Z Homing, enable Z_SAFE_HOMING also!`
 So why would you want to uncomment #define Z_SAFE_HOMING ???

[2021-04-22 08:40] Schnabulation commented on #557
Please re-read my issue above. It is totally related to something else.

But thanks for your suggestion.

[2021-04-22 08:50] N3tYaroz3 commented on #78
I am available to translate into Italian

What are the files to translate?

[2021-04-22 09:34] tititopher68 commented on #557
Oooh sorry !!!

[2021-04-22 09:45] tititopher68 commented on #557
If you use the dedicated port (the 5 pins connected) + the Z-endstop, there is interference and malfunction.  So try this unusual connection by reconnecting the 2 wires to the right of the connector to the BLTouch port (normally the black and white wire).  Which would correspond better with your configuration file .... I consider that the most reliable and functional connection is the connection o

[2021-04-22 12:36] Schnabulation commented on #557
I appreciate your input, I really do - but I do know of the limitations of my setup and also the issue regarding using the specific BL Touch port on the Creality 4.2.2 mainboards.

The problem I mentioned above is clearly software related as I have already found the issue and fixed it in my fork of Jyers firmware. It is now up to him if he wants to support my special use case whereas the stock Z-a

[2021-04-22 14:01] Jyers commented on #78
@N3tYaroz3 Nothing yet currently, I need to implement the language system and then I'll update this with what's needed.

[2021-04-22 14:27] msdossajo commented on #556
Install a anti backlash in the lead screw, that will prevent the x carriage to fall when the z stepper motor is off

![Screenshot from 2021-04-22 15-26-02](https://user-images.githubusercontent.com/72068472/115731652-36c53500-a37f-11eb-9e63-4253e6aa5f6a.png)

[2021-04-22 14:28] gothcha opened #562 "Pop-up highlight colour not following menu selection"
As I was taking the photos @Jyers requested I noticed that the Confirm/Cancel pop-up and the Confirm pop-up had the default highlight rather than the colour specified in the Visuals Menu. This makes it difficult to see.

![IMG_5520](https://user-images.githubusercontent.com/80574048/115731013-b1418500-a37e-11eb-8ce6-0ac9ac7342bb.jpeg)

I edited the following in creality_dwin.cpp to define the corr

[2021-04-22 14:38] AngleV commented on #562
Very nice. We missed that.

@gothcha  Thank you

[2021-04-22 14:45] gothcha commented on #562
My pleasure, in fact I was trying to improve the 'Confirm' icon as it is very hard to see the white on the blue, I created some new icons but was unable to incorporate them into the 9.ICO, they come out blank. I tried Gimp and Affinity Photo and I know the .jpg format is tricky.

These are the proposed icons

![089-ICON_Confirm_E](https://user-images.githubusercontent.com/80574048/115734158-64ab79

[2021-04-22 14:55] AngleV commented on #562
a-haaa..

This is nice to hear it because in fact i was thinking the same thing about those icons but i was too bored to fix them.
I will merge them and i will upload a new 9.ico file for everyone interesting in the next days.

[2021-04-22 16:22] jtannenba opened #563 "Serial mismatch when PSU tries to connect to printer after powerup"
### Description

Fails with my setup...I use Octoprint and have a UPS on the pi also with APCUPSD running. Any one of the updates past Early March causes Serial mismatch when PSU powers the printer up and tries to connect. Would love to be able to use the new menu items.

### Steps to Reproduce

1. [First Step]  Tried cable
2. [Second Step]  Tried updating Octoprint
3. [and so on...] Tried going o

[2021-04-22 17:26] cruzer619 commented on #563
did you setup octoprint as stated in the wiki for this error ? https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings

[2021-04-22 17:37] jtannenba commented on #563
yes on the first part.
![Screenshot 2021-04-22 103646](https://user-images.githubusercontent.com/30538037/115760997-b5f24300-a356-11eb-9444-7b23cde7ebd0.jpg)  This sis a screenshot of my Gcode scripts.

I'm using the Actions plugin to send texts.

[2021-04-22 18:02] cruzer619 commented on #563
yah but did you configure the error handling part..?

[2021-04-22 19:01] jtannenba commented on #563
Note first line.  Yes

[2021-04-22 19:52] Jyers commented on #557
This is a very interesting issue. I would be interested if this also applied to manual mesh configs as well. The only issue with this change is the fact that the way movement is handled in the menu would cause the mesh offset to be applied every time you set a new value. You can observe this by clicking into modify the z offset value and then clicking again without changing it, the z axis will mov

[2021-04-22 19:55] Jyers commented on #562
Thanks for the catch, either me or @AngleV will incorporate the fix into his latest PR.

[2021-04-22 19:55] #562 closed

[2021-04-22 19:58] Jyers commented on #556
^^^ I use one of these and it provides the perfect amount of drag while also reducing backlash issues.

[2021-04-22 20:08] Jyers commented on #563
This seems to be an issue with the main Marlin branch at the moment, it may have been fixed but I need to do some further testing. Does it let you connect if you try again, or can you not connect at all.

[2021-04-22 20:49] jtannenba commented on #563
It would let me connect if I left the printer on and rebooted Octoprint.  Only by going back on the firmware am I able to connect with the PSU control in Octoprint.  Right now I'm running the Jyers 1.2.1 from 3/8/2021.  and yes, I believe the Marlin does this too.  I believe I tried several versions.  The one from Feb worked the new ones didn't.  I went back to this one because of the additional i

[2021-04-22 21:57] twuytens commented on #563
I also experience the same issue with a fresh install of 1.3.1. Applied the 'error handling' steps but it really cannot connect.
[code]

Let me know if I can provide some more info to help out.

[2021-04-22 22:02] Jyers commented on #563
@twuytens Your issue here is quite different. Octoprint is reporting no connection candidates whatsoever. I would encourage you to check your connections and such, as I have yet to see that kind of error caused by the firmware.

[2021-04-22 22:22] twuytens commented on #563
Well I did get the `serial mismatch` first, but apparently my printer was halted with M112 (due to that error?) and required a reboot too. After rebooting both the pi with octoprint and the printer it's working now. Apologies about the fuss, but thanks for the quick response. 😉

[2021-04-22 22:25] Jyers commented on #563
No problem, I'm just trying to figure this stuff out. Btw you can disable M112 shutdown commands from octoprint. Check the wiki page for the settings

[2021-04-23 00:04] jtannenba commented on #563
I am embarrassed. Somehow that send M112 go re-enabled with my testing. I shut if off again and saved it, went back to check and it was on again.  Shut it off and verified several times that it stayed off and tried the newest firmware.  So far, it seems to connect.

[2021-04-23 02:53] aryajuanda commented on #563
For me just i disable MEATPACK in firmware to resolve the issue, because i dont use meatpack plugin.. no more serial missmatch, becasue my raspi is up for 24h but not my printer, so idont have to restart my octoprint.. some people said this is not the solution, but its the best scenario for me..

Since in the original marlin MEATPACK is not enable by default, but is enable by default in this firmw

[2021-04-23 08:26] Baillie521 opened #569 "BLTouch not applying mesh to prints?"
### Description

BLTouch doesn't use the saved mesh and doesn't apply it to the print.

### Steps to Reproduce

1. Turn printer on
2. Heat up to temp
3. Start print

**Expected behavior:** The saved mesh should be applied to the print.

**Actual behavior:** The mesh isn't applied, even when using M420 S1 and commands like M500 and M501?

#### Additional Information

I will list my start GCode alon

[2021-04-23 09:24] tititopher68 commented on #557
I would like to make sure of this: when an Autohome is performed or when you activate the Live adjustment (which can also engage an Autohome), the Z-Offset seems to be incorrect?  Without modifying the value of your Z-OFFSET, if you only make a Home Z in the menu again, is the offset still present?
 I never paid attention to this because I always remade a Home Z before setting the Z-Offset.
 Indee

[2021-04-23 13:13] phenomeus opened #570 "where is the XY Home Menu?"
I can't find the "Added XY Home Offset Menu" :( with 1.3.1, sorry for being blind.

[2021-04-23 13:14] #570 closed

[2021-04-23 13:15] phenomeus commented on #570
Control > Motion > Home Offsets

sorry, found it

[2021-04-23 14:51] Baillie521 commented on #569
UPDATE: I have compiled a new firmware with the exact same config files as posted above but with the 1.3.1v to see if this helps. So far i have narrowed it down to the z-rod not compensating while printing?

[2021-04-23 15:00] foxylion commented on #531
I'm having similar issues with the `E3V2-UBL-BLTouch-10x10-v4.2.2.bin` variant of the latest release.

When letting the printer create the mesh some probes will fail because the second measurement fails due to the probe going into ALARM mode.

So what happens in detail is:

1.  probe deploys for the first time
2.  probe triggers after z was decreased enough
3.  probe is deployed for the second tim

[2021-04-23 15:13] tititopher68 commented on #548
Very curious indeed! I do not have this issue.

It is true that I am on my own build and my fixes and various additions may not have the same effects as Jyers.
I added a large number of modifications, among other things, for the appearance, partly taking up your idea. I can now have for "Cancel", "Confirm_E" and "Continue_E" all the colors defined for the background or the text (I went through you

[2021-04-23 15:14] tititopher68 commented on #562
I added a large number of modifications, among other things, for the appearance, partly taking up your idea. I can now have for "Cancel", "Confirm_E" and "Continue_E" all the colors defined for the background or the text (I went through your exchanges on the subject).

I think it will be available on my branch tomorrow or the day after tomorrow.

[2021-04-23 15:20] gothcha commented on #562
@tititopher68 sounds neat - look forward to testing it. Am I correct in thinking you are now not using the 9.ICO icon but instead printing boxes and text? Sounds a good plan and more adaptable, nice work.
This firmware is getting so slick! Just love your ideas.

[2021-04-23 15:31] tititopher68 commented on #562
it's exactly that ! and as I work professionally in the disability sector with visually impaired people, I have also made the modifications to facilitate their visual access as much as possible.

[2021-04-23 15:32] tititopher68 commented on #562
void CrealityDWINClass::Draw_Popup(const char *line1, const char *line2,const char *line3, uint8_t mode, uint8_t icon/*=0*/) {
  if (process == Menu && mode == Popup) last_selection = selection;
  process = mode;
  Clear_Screen();
  const uint16_t color_bg = GetColor(eeprom_settings.popup.bg, Color_Bg_Window);
  DWIN_Draw_Rectangle(0, GetColor(eeprom_settings.popup_highlight, color_bg), 13, 59, 25

[2021-04-23 15:33] Jyers commented on #569
Are you sure the mesh isn't being applied? Based on your mesh, your z axis will only be moving in the realm of a few hundredths of a millimeter. You might only really be able to notice it with a sweeping move across the whole bed. You also should make sure your are watching the z coupler very closely as that's the only way you will catch the movement.

[2021-04-23 15:38] gothcha commented on #562
Great well done, coincidentally we have a guide dog puppy which we are training, so do quite a bit with UK Guide Dogs and have quite a few VI friends.
I will give this code a try and let you know how it looks. I can take some more photos if it would be helpful to it demonstrate the new look. Damian

[2021-04-23 15:39] Baillie521 commented on #569
Thanks for the reply dude! I am certain that it wasn't moving, but now I have done that firmware change and changed my start GCode so it reads as below, I can now feel the lead screw moving slightly but when I do a be level test the left side of my bed is slightly too close and the right two far away leaving gaps in the little circles? I just can't seem to get the bed levelled because of this and

[2021-04-23 15:45] tititopher68 commented on #562
void CrealityDWINClass::Draw_Print_confirm() {
  Draw_Print_Screen();
  process = Confirm;
  popup = Complete;
  DWIN_Draw_Rectangle(1, Color_Bg_Black, 8, 252, 263, 351);
  //DWIN_ICON_Show(ICON, ICON_Confirm_E, 87, 283);
  DWIN_Draw_Rectangle(1, GetColor(eeprom_settings.ico_confirm_bg , Color_Light_Cyan), 87, MBASE(5) - 6, 186, MBASE(5) + 41);
  DWIN_Draw_String(false, false, DWIN_FONT_HEAD, GetC

[2021-04-23 15:46] foxylion commented on #531
Okay it looks like I found the option that solves the problem for me:
In `Configuration_adv.h` uncomment `#define BLTOUCH_DELAY 500`.

This delays the re-deploy of the BL Touch for 500 ms after every trigger.
This gives the print head enough time to move enough upwards.

Maybe this should be the default? Not doing it won't speed up the process because moving Z up for 5 mm between probes will take

[2021-04-23 15:48] Jyers commented on #569
If it's compensating then everything should be working properly. The only thing I can think would be is your z leadscrew has too much drag or a bit of backlash preventing it from compensating correctly. I'm closing this as it's not a firmware issue, but feel free to keep updating this with any findings and I'll try to help figure out the issue.

[2021-04-23 15:48] #569 closed

[2021-04-23 15:51] Jyers commented on #531
@foxylion Thanks for finding that! This seams to only be an issue with BL Touch clones, but I'll looking into making that the default. I just need to check if it impacts high speed mode strangely as in that mode it doesn't retract between probes.

[2021-04-23 15:51] #531 closed

[2021-04-23 16:04] Baillie521 commented on #569
Thanks for your help, it seems that you may be onto something there as I can see that the leadscrew is moving but its like its not compensating much if not at all. My reasoning for this hypothesis is because when I do a bed level test the squares on the left of my bed appear too squished yet on the right they hardly adhere to the bed, even after thorough cleaning and even flipping the glass plate?

[2021-04-23 16:05] Baillie521 commented on #569
I just need pointing in the right direction lmao

[2021-04-23 16:35] Jyers commented on #569
Check your z axis leadscrew. It should be very easy to turn the coupler by hand.

[2021-04-23 16:38] Baillie521 commented on #569
@Jyers yep, this is very easy to turn :)

[2021-04-23 16:39] Jyers commented on #569
Hmmm, you could try a more detailed mesh, either by using one of the UBL versions, or compiling your own with a larger mesh size.

[2021-04-23 16:49] shoppingcheck opened #571 "V1.3.1_E3V2_ManualMesh 5x5 v4.2.2 - printer not remember current Z when resume after pause and turn off power overnight"
Description
I use the printer for prototype at work so I must turn off before leaving the office due to safety concern. After installing the latest firmware v1.3.1, I found out that the printer does not remember current Z when resuming the print after pause and turn off power overnight. When resume printing, the printer print with Z above the current print (see pic)

Steps to Reproduce

1. After t

[2021-04-23 16:52] Baillie521 commented on #569
So I'm using the BLTouch and it seems that it won't execute the mesh as it should and I don't know why, this was ever since I got my Hemera for the printer?

[2021-04-23 16:56] Jyers commented on #569
If it started after installing the Hemera it could be the added weight limiting your steppers ability to adjust the height as accurately, but thats just my best guess.

[2021-04-23 17:02] Baillie521 commented on #569
Yeah, that's not a bad shout, I wouldn't even know where to begin to sort that out, I don't want to sacrifice a nice level bed because if I do having a nice expensive hemera isn't really worth it lmao

[2021-04-23 19:35] N3tYaroz3 commented on #78
In the meantime, thank you for what you are doing!
Please take me into consideration if you need a translator for the Italian language, I would be happy to help you and I will gladly do it! 😊

[2021-04-23 20:46] Jyers commented on #571
Interesting, I'll give this a try to see if I can recreate it. Most likely you'll want to post this issue on the main marlin repo though, as it would be an issue with the power loss resume feature, which is not in my jurisdiction to fix.

[2021-04-23 23:06] shoppingcheck commented on #571
Hi Jyers,

Thank you for your reply.
I didn't have this issue when using manufacture firmware which comes with the printer.
Like many others, I have a warped bed and been trying to levelling the bed but not successful so far, maybe I didn't do it right.
Your firmware helps me overcome that issue by allowing me to adjust the Z offset in different areas of the bed.
I've got rid of the bed leveling i

[2021-04-24 13:55] jwkopp opened #574 "Ender 3v2 using btt smart filament sensor."
Also using microswiss direct drive kit.   Is there a firmware that already has the option to use the btt smart filament sensor as well?? If so is it just an option that able to be turned on and off?

[2021-04-24 17:40] AngleV commented on #548
@tititopher68

Go the cursor all the way down to Live Movement option. Then go up and select Extruder. Click to change the value. Select Cancel on the popup and you will see it.
It does not do it if you dont scroll all the way down to the last menu option.

@Jyers
Some one of the variables has wrong value when the menu has been scrolled but i have hard time to follow the code to figure it out.

[2021-04-24 17:50] AngleV opened #576 "Cursor selection does not respect selected position if popup appears"
relates to this https://github.com/Jyers/Marlin/issues/548

When you select a menu option that brings up a Popup and you choose Cancel then the selection does not stay in the same position that you were before.

Steps to reproduce.
1. Choose Prepare --> Change Filament.
2.  Popup appears.
3. Choose Cancel
4. Menu redraws but selection now goes all the way up to Load Filament.

IMHO it should stay

[2021-04-24 18:06] tome9111991 commented on #548
i have same issue with default theme

[2021-04-24 19:11] AngleV opened #579 "Change Filament during print goes nuts"
1. Start a print.
2. Select Tune --> Change Filament
3. Select Cancel

Chaos appears :-)

![178808085_256777226193789_3890269816540776419_n](https://user-images.githubusercontent.com/7430985/115970270-08e01c00-a54a-11eb-89e2-0451ca261fcb.jpg)

[2021-04-24 19:33] tititopher68 commented on #548
@AngleV I'm sorry, but at home, I don't have this finding ... Everything seems normal ... but I don't have the same build ... If I had this problem, I should have a "0" appear to the right of Live's checkbox ...

To note. I noticed that sometimes the encoder button had a problem, ie it does not react immediately when turning the button to the right or to the left. By restarting the printer and doi

[2021-04-24 19:36] AngleV commented on #548
I noticed that too but i am sure that has nothing to do with the current issue.

[2021-04-24 19:42] tititopher68 commented on #548
https://user-images.githubusercontent.com/18162675/115970929-f19f2f80-a545-11eb-9aa4-f51abf1a15c3.mp4

[2021-04-24 19:44] tititopher68 commented on #562
@gothcha
![IMG_20210424_162119](https://user-images.githubusercontent.com/18162675/115970980-3c20ac00-a546-11eb-8092-17704584c0d8.jpg)
![IMG_20210424_163138](https://user-images.githubusercontent.com/18162675/115970981-3d51d900-a546-11eb-8ba6-6b969168a142.jpg)
![IMG_20210424_163355](https://user-images.githubusercontent.com/18162675/115970983-3d51d900-a546-11eb-9cab-a31c153171d1.jpg)

[2021-04-24 19:47] tititopher68 commented on #562
@gothcha : I had to make some adjustments: decrease the values for Y by 20 points, it's OK now.

[2021-04-24 19:52] tititopher68 commented on #574
You must modify the Configuration.h file and uncomment #define MOTION_SENSOR, then recompile the firmware ....
On my Github branch, there are some pre-compiled ... (mention BTT in the name of the files).

[2021-04-24 20:07] AngleV commented on #548
@tititopher68

ok, now i figured this out.
This is what you are missing here.

My setup has an extra menu item. The Probe item above the Live Movement.
In your setup i dont see it.

By this extra menu the screen has to scroll up to see the last item.

Thats why you dont reproduce the issue.

I am sure @Jyers will understand now and he will fix it soon.

[2021-04-24 20:12] AngleV commented on #562
@tititopher68

Thats nice !!!

[2021-04-24 20:13] gothcha commented on #562
Neat, is the code on your repo? When I checked earlier I couldn’t find the relevant .cpp & .h files. I would love to give it a go

[2021-04-24 20:17] gothcha commented on #562
Can you change the background of the Cancel button too? This code makes it flexible and no need to change icons. The text is very clear.

[2021-04-24 20:46] Legsmaniac opened #582 "Uncomment #define PRINTCOUNTER by default?"
### Description

I keep getting asked on many forums I participate in how others can get the same information on the Info screen that I have.  I post similar photos to this photo on some forums sometimes and it gets heads scratching.

![PrintCounter](https://user-images.githubusercontent.com/50076851/115972443-332fda80-a546-11eb-8a65-c60fe8a69452.jpg)

I reply (over and over) that you need to edit

[2021-04-24 22:07] tititopher68 commented on #576
That's right. In the code, for Popup, the selection variable is set to 0 to be able to select: Confirm or Cancel.
so we should replace in the part of the code corresponding to Prepare - Change Filament, Redraw_menu () by Draw_Menu (last_menu, last_selection);

[2021-04-24 22:12] gothcha commented on #582
Using 1.3.1 if I uncomment PRINTCOUNTER the info display gives 0 for everything. Does it only start to total the data after it has been enabled?

[2021-04-24 22:23] Legsmaniac commented on #582
To be honest, not sure.
Having said then, when I discovered it and enabled it a few months into my new printer, it already showed several past print jobs so I'm guessing the information must be stored in the mainboard computer somewhere.  So I would have thought yours would show several past print jobs too.  Maybe it's different with different printers?  Maybe this is why this wasn't enabled by de

[2021-04-24 22:29] gothcha commented on #582
Mine is the V2 with 4.2.2. I will see if it starts to accumulate data from now on. Have you used the printer with Octoprint? It suggests that this responds to M73 command to report print info.

[2021-04-24 22:29] jwkopp commented on #574
hey thanks for the heads up.  i installed the 7x7 and i must be spoiled by the fast auto level process.  do you have one that is fast style?  20 min to probe a bed is a long time.

[2021-04-24 22:50] Legsmaniac commented on #582
Nope.  Never used Octo.  I use ESP3D instead.  Much prefer it.
Updated to latest just now to check all was still well.  😊

![PrintCounter2](https://user-images.githubusercontent.com/50076851/115974844-a726ae80-a557-11eb-931d-97f246db251e.jpg)

It's even carried forward the last extra two prints I did since the last photo.

[2021-04-24 23:46] Jyers commented on #548
@AngleV Thanks for the extra info. I'll take a look and see what's causing it to miss that item

[2021-04-24 23:51] Jyers commented on #582
You're right, I'll enable this for future releases

[2021-04-24 23:51] #582 closed

[2021-04-24 23:52] Jyers commented on #579
Oh my.... Must be an issue with the popup I added. I'll get this fixed.

[2021-04-24 23:54] Jyers commented on #576
Hmmm, yes @tititopher68 is right. I created last_selection for this purpose, but must have forgot to implement it.

[2021-04-24 23:56] #574 closed

[2021-04-25 00:04] tititopher68 commented on #576
I just tested and it's OK for all issues from AngelV.
I change also Redraw_Menu() in case ConfFilChange with Draw_Menu(active_menu, last-selection)

[2021-04-25 00:06] tititopher68 commented on #579
fixed with Draw_Menu(active_menu, last_selection) in case ConfFilChange

[2021-04-25 00:45] tititopher68 commented on #562
Also for the Cancel Button. I can change 25 parameters, 20 Colors.
And for me all the issue from AngelV are fixed...
Now i am testing the possibility to change directly in the UI, the mains icons...

[2021-04-25 08:48] duncio commented on #582
I also have 4.2.2 and it works as expected, showing all the stats.

[2021-04-25 10:51] tititopher68 commented on #562
I am updating my build tomorrow on the Github

[2021-04-25 11:09] gothcha commented on #582
Thanks, it is displaying the stats OK from the point that it was first enabled, so maybe for you it had been enabled in an earlier firmware so may have have continued to collect data.
Still will be useful going forward

[2021-04-25 11:51] Legsmaniac commented on #582
I can confirm mine was never "enabled" yet was storing all the stats, if by enabled meaning print counter was uncommented.  All printers store stats, even inkjet printers.

[2021-04-25 14:30] tititopher68 commented on #562
@gothcha I am testing the possibility to change directly in the UI the main's icons and use pack of news main's icons.
But now on my github, the code (without this possibilty in test) is on line ;-)

[2021-04-25 14:32] gothcha commented on #562
Excellent thank you I shall try and test it out :)

[2021-04-25 14:54] Cal-LF commented on #579
Also found today that the filament change in my compiled manual mesh 3X3 does not work properly any more. There is a 40 -50mm filament unload or retraction before the print resumes.

[2021-04-25 15:19] Jyers commented on #579
@Cal-LF That's how it has always been, you can tune those parameters in the advanced pause section of configuration_adv.h

[2021-04-25 15:19] tititopher68 commented on #579
@Cal-LF this is not the subject here ;-)
In your case, you have to go to the Advanced menu (Main Menu -> Control Menu -> Advanced) and modify the Load Lengh and Unload Lengh parameters. Add to the displayed values, for example, 60 to 70 mm. And then don't forget to do a Store Settings (Control Menu).

[2021-04-25 15:22] Jyers commented on #576
This should be fixed now I believe

[2021-04-25 15:22] #576 closed

[2021-04-25 15:23] Jyers commented on #579
I believe fixing #576 should have also fixed this

[2021-04-25 15:23] #579 closed

[2021-04-25 15:27] tititopher68 commented on #548
@Jyers : for menu move, case Move_E , change to do : Redraw(true);

[2021-04-25 15:32] Jyers commented on #548
@tititopher68 You shouldn't need a true there because the heating popup is just a wait, selection is not modified. The fix was in the popup control for the Etemp popup

[2021-04-25 18:13] tititopher68 commented on #571
This issue still unofficially exists on Marlin, the problem would be related to MicroSD readers and the faulty recording of the PLR file (majority opinion on the subject) ...
Some even reused Marlin 2.0.6.x versions of powerloss.cpp and powerloss.h to get proper operation. But in others, it does not change anything ...
On other sites, we say that you have to uncomment these 2 options in Configurat

[2021-04-25 19:30] Ali229 commented on #582
Not sure if intended or not but this isn't enabled for default config.

[2021-04-25 20:39] Jyers commented on #582
@Ali229 I don't modify the default config to keep it fairly stock and to avoid messing with peoples configs when the pull to their personal repos. All configs are built off of the templates in the configuration files folder

[2021-04-25 20:41] Jyers commented on #571
Closing this for now as there is not much I can do. If you continue to face the issue and have any new information feel free to update this issue and I would be happy to try to help.

[2021-04-25 20:41] #571 closed

[2021-04-25 21:06] Jyers commented on #563
Are you still facing this issue? I've run my octoprint without meatpack (still enabled in firmware) for a week now to try to recreate this issue and have not seen a single issue.

[2021-04-25 21:36] jtannenba commented on #563
As above, I finally got the send m112 to stay off and loaded v 1.3.1 and so far, running good.  I don't use meatpack.  I have a Pi4 and it seems to keep up with the printer.

[2021-04-25 23:16] Jyers commented on #563
Glad to hear it. Feel free to update this if you face any more issues.

[2021-04-25 23:16] #563 closed

[2021-04-26 00:38] jfrenelle opened #604 "Print screen"
The print screen goes away and show the home screen

### Description

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

#### Additional Information

* Include a ZIP file containing your `Configuration.h` and `Configuration_adv.h` files.
* Provide pictures or links to videos t

[2021-04-26 00:40] smooreace commented on #604
Just have to LOL

On Sun, Apr 25, 2021 at 7:38 PM jfrenelle ***@***.***> wrote:

[2021-04-26 00:56] Jyers commented on #604
Any further details would help here. When is this happening, what kind of printing (SD/Host), when did this start, is it repeatable. There is nothing I can really do with "it did this, help"

[2021-04-26 04:49] jfrenelle commented on #604
It started on the first print
It's on a new ad card
It will finish the print
Ender3 v2
Jjyers 1.3.1
It was April 25 2021

[2021-04-26 05:04] nullstalgia opened #606 "Setting a message with M117 then opening Tune clears the message upon return to the main Print menu"
Title pretty much says it all

Thanks for the great work! :)

[2021-04-26 05:31] Jyers commented on #604
When in the print does the print screen go away?

[2021-04-26 05:32] Jyers commented on #606
I feel like there was a reason I did this, but I'll check the code to see if I can keep the message through menu changes.

[2021-04-26 05:55] jfrenelle commented on #604
Right when it go to print the purge line after it zeros out

[2021-04-26 06:45] Jyers commented on #604
Can you post your start gcode

[2021-04-26 07:46] AngleV commented on #548
@Jyers

Glitch still exists

https://user-images.githubusercontent.com/7430985/116047267-9459ca00-a67c-11eb-9473-579f98797f65.mp4

[2021-04-26 13:31] jfrenelle commented on #604
G28
M501
M420 s1 z2
![20210426_092951](https://user-images.githubusercontent.com/83153878/116090722-2a3c2780-a672-11eb-8b60-485832879b66.jpg)

[2021-04-26 14:55] Jyers commented on #604
Does this occur for all gcode files you have tried?

[2021-04-26 14:56] tititopher68 commented on #548
The fix  :
case MOVE_E:
            if (draw) {
              Draw_Menu_Item(row, ICON_Extruder, (char*)"Extruder");
              current_position.e = 0;
              sync_plan_position();
              Draw_Float(current_position.e, **row**);

[2021-04-26 15:02] Jyers commented on #548
There it is, thanks @tititopher68!

[2021-04-26 16:05] jfrenelle commented on #604
It's the same gcode as I run on the Jyers 1.3.0
I use the same slicer and setting on both of then
No problems on 1.3.0 runs great

[2021-04-26 16:05] jfrenelle commented on #604
Both are ended 3 v2

[2021-04-26 16:23] Jyers commented on #604
Try resetting eeprom by going to the control menu and then selection reset defaults and then store settings

[2021-04-26 16:48] jfrenelle commented on #604
Its printing now so when it's done I'll give it a try and let you know
Thank you

[2021-04-26 17:15] laebshade opened #614 "Extruder turns in retract direction on extrude and vice versa"
### Description

On an Ender 3 v2 with 4.2.7 board and Jyer's v1.3.1 E3V2-BLTouch-5x5-HS-v4.2.7.bin firmware, the extruder turns in retract direction on extrude and vice versa.

### Steps to Reproduce

1. Flash https://github.com/Jyers/Marlin/releases/download/v1.3.1/E3V2-BLTouch-5x5-HS-v4.2.7.bin
2. Heat nozzle to 215c
3. Try to extrude via LCD or via Octoprint terminal commands

**Expected behav

[2021-04-26 17:17] Jyers commented on #614
Is your extruder setup stock? Also does this issue also pertain to prints or just the move menu?

[2021-04-26 17:24] mrkshields commented on #614
I am using the Micro Swiss direct drive mount; the extruder motor and extruder cable are stock.

It happens anytime I try to extrude with the motor: whether from a print, the move menu, or the "extrude" button in Octoprint's control tab.

I can manually extrude with the extruder knob without issue.

[2021-04-26 17:46] AngleV commented on #548
@Jyers
@tititopher68

yep!!!!

[2021-04-26 17:46] #548 closed

[2021-04-26 17:52] Jyers commented on #614
This most likely means your extruder is reversed from the stock direction. You can either fix this by compiling your own version of the firmware or switching the wires on your extruder connection

[2021-04-26 23:56] Jyers commented on #606
I think I've fixed this now

[2021-04-26 23:56] #606 closed

[2021-04-27 01:01] #604 closed

[2021-04-27 01:01] jfrenelle commented on #604
Ok i reset the reproduce and the same thing

[2021-04-27 01:02] jfrenelle commented on #604
![20210426_205322](https://user-images.githubusercontent.com/83153878/116169430-aebe9280-a6d2-11eb-9b9e-656778d106ae.jpg)
![20210426_205256](https://user-images.githubusercontent.com/83153878/116169447-b4b47380-a6d2-11eb-9087-069f13fede9f.jpg)
![20210426_205251](https://user-images.githubusercontent.com/83153878/116169468-bbdb8180-a6d2-11eb-8fae-ddaebd999ec3.jpg)

[2021-04-27 01:18] jfrenelle commented on #604
I rest and no bed leveling at all
Just printed
Now I will bed level and try again

[2021-04-27 01:18] jfrenelle commented on #604
This is the HS 1.3.1

[2021-04-27 01:19] jfrenelle commented on #604
4.2.7 main board

[2021-04-27 01:31] jfrenelle commented on #604
Same thing after auto leveling and printing

[2021-04-27 01:41] Jyers commented on #604
Very strange. Do you have any kind of host device connected to your printer? Octoprint, pc, etc

[2021-04-27 02:03] jfrenelle commented on #604
Nope just a sd card

[2021-04-27 02:49] nullstalgia commented on #606
@Jyers Can't compile,

AUTO_BED_LEVELING_UBL is defined.

![image](https://user-images.githubusercontent.com/20761757/116177299-68643600-a6c8-11eb-85d0-c3e6b9422cba.png)
![image](https://user-images.githubusercontent.com/20761757/116177336-7914ac00-a6c8-11eb-9251-be42f62c7364.png)

[2021-04-27 02:55] Jyers commented on #606
Oops, that needs to be ENABLED(AUTO_BED_LEVELING_UBL) && !HAS_BED_PROBE. I'll fix that now

[2021-04-27 03:00] Jyers commented on #606
Alright, try now.

[2021-04-27 03:01] Jyers commented on #604
That is so strange. Other than the gcode or a hardware issue I can't imagine what would cause that.

[2021-04-27 03:07] nullstalgia commented on #606
Compiled! I'll test it out once this print finishes (couple hours or so). Thanks again.

[2021-04-27 03:19] jfrenelle commented on #604
I may just flash it back to 1.3.0

[2021-04-27 03:19] jfrenelle commented on #604
Thank you for trying

[2021-04-27 03:23] Jyers commented on #604
Let me know if it does go away in 1.3.0 because that would at least be a start

[2021-04-27 04:03] jfrenelle commented on #604
Yes it goes away with 1.3.0

[2021-04-27 04:04] jfrenelle commented on #604
I mean the problem goes away

[2021-04-27 10:42] Fredyy90 opened #625 "Is this Marlin fork still board agnostic?"
Hi,

Thank you for your great work for the community.
But as you changed a lot in the firmware i'm unsure if'll still be able to use it with a different mainboard than the creality 4.2.2 or 4.2.7.
I'm currently searching for a board with at least 5 uart connected tmc2209 stepper drivers to create a dual-z setup with 2 steppers that sync via my bltouch and implement linear advance. is something lik

[2021-04-27 14:03] smooreace commented on #625
The steppers can be run in parallel from one controller quite well with a
4.2.2 board. I've been thinking about picking up a 4.2.7 as a backup, but
seems like a waste of $$. And, it still has the same setup requirement

On Tue, Apr 27, 2021 at 5:42 AM Frederick Behrends ***@***.***>
wrote:

[2021-04-27 14:24] Fredyy90 commented on #625
<https://github.com/notifications/unsubscribe-auth/AIPE4Q23CZ35JPAORPUJ5PLTK2IKFANCNFSM43UXLS4Q> .

sure they can be run in parallel, but what stops them from getting out of sync over time? when the machine is powered off or moved manually?
That's why I want to go the 2 driver route to tram the X-gantry to the bed via my bltouch before every print and thats why I'll need to change the board.
Marli

[2021-04-27 15:22] Jyers commented on #625
This fork actually has zero modifications to the marlin code outside of the display portion. So it will be fully compatible with anything you might want to run it on 👍

[2021-04-27 15:22] #625 closed

[2021-04-27 15:23] #614 closed

[2021-04-27 15:42] Lighty1989 opened #628 "zero all the axes"
Hi Jyers, you made great firmware. Unfortunately I have to say that the original option is no longer available where you can zero all the axes. this would be beneficial if some use a laser. would be great if you could add it right away. Greetings from Germany

[2021-04-27 16:08] gothcha commented on #562
@tititopher68 Just compiled your code, it works perfectly! Wow yes there are a lot of choices now. I have configured it to my liking and it certainly solves the original visibility issue. I shall keep this for now until @Jyers has a new release. There are so many updates/improvements it is hard to keep up!! Thank you

[2021-04-27 16:25] Jyers commented on #628
Where was this option in the original firmware? If you want to change the zero position of the printer, you can use the home offsets settings in control>Motion

[2021-04-27 16:28] mrkshields commented on #614
It's not reversed. I tried switching around wires, and that just caused the
extruder to stop working. I tried compiling your firmware and changing the
bool flag to run in reverse; it did not work (extruder wouldn't move at
all).

I mentioned in the original bug report I was able to use a different
firmware without issue.

I'll pass on custom compiling and stick with a different firmware that
works

[2021-04-27 16:42] Jyers commented on #614
Just to check you modified this? `#define INVERT_E0_DIR false`

The way this firmware handles motors and directions is the same as base marlin so there should be no difference between this and any other compiled version.

[2021-04-27 16:50] mrkshields commented on #614
Yes, that is the same value I flipped to true.

I agree there should be no difference. I have no explanation on why your
firmware doesn't work while the marlin crc au version does.

On Tue, Apr 27, 2021, 12:42 PM Jyers ***@***.***> wrote:

[2021-04-27 16:55] Jyers commented on #614
Have you tried reversing the other extruder directions, in the case that maybe your extruder motor isn't plugged into the E0 pin?

[2021-04-27 18:32] Lighty1989 commented on #628
There was a point in the original firmware where all axes are zeroed to one position.

that was about home axes

[2021-04-27 18:36] ludvigaldrin opened #630 "Probing failed on E3V2-UBL-BLTouch-10x10-HS-v4.2.2"
### Description

Im running E3V2-UBL-BLTouch-10x10-HS-v4.2.2.bin on my Ender 3 V2 with Bltouch. Creating a Mesh works nicely however Autotilt Current Mesh is not working. I get Probing failed. This both on the machine direct in the meny or via octoprint. Running direct on a sdcard it still prints so cant see if it crashes or not.

Recv: Tilting mesh (1/3)
[...]
Recv: echo:busy: processing
[...]
Re

[2021-04-27 18:39] tome9111991 commented on #630
You have set XY offset Probe?

[2021-04-27 19:43] tititopher68 commented on #628
I think he says : Home X, Home Y, Home Z. With a Laser Head, they only use X and Y axis...

[2021-04-27 20:49] ludvigaldrin commented on #630
I just got that tip from another person. So vill check that out. Probablly it. Also found this wiki page here: https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings with some tips.

[2021-04-27 21:14] Lighty1989 commented on #628
for the laser you also need the z-axis for zeroing

you can add an option especially for the 3 axes with one click

with the original firmware you can move to the position and then zero everything

at least 50mm + the thickness of the serious object

[2021-04-27 21:51] mrkshields commented on #614
You mean retracting? No, I don't recall that I did.

On Tue, Apr 27, 2021 at 12:55 PM Jyers ***@***.***> wrote:

[2021-04-27 22:42] Lighty1989 commented on #628
![20210428_003502](https://user-images.githubusercontent.com/83297890/116321393-3fbc6900-a7ba-11eb-874c-6c8d762c6c60.jpg)
 This is how it looks in the original firmware, and if you set a position in x y and z at move you can click at Set home offset and all axes will be set to zero at this point

[2021-04-27 23:11] tititopher68 commented on #562
Thank you for your reply !
 I had done what Jyers is proposing today, 4 days ago, but given the simplification of the code proposed today, I have already integrated a part of it.  I have already modified it to correct what I do not find logical and which have an impact on the quality of the first layers  I will make the suggested modifications.
 I will propose a new build offering to visually cust

[2021-04-27 23:40] Jyers commented on #628
@Lighty1989 Ahhh, I see. You can still do this with the firmware, but it's not quite the same approach. In `Control>Motion>Home Offsets` there are options to set the x and y home offsets. However this does not offer the ability to set the z offset like this. I will look into adding an item to do set the current position to 0 on all axis like you described. It will most likely go into the home offs

[2021-04-27 23:40] #628 closed

[2021-04-28 00:00] Jyers commented on #614
No, I mean like setting `#define INVERT_E1_DIR` or the others to true rather than just E0

[2021-04-28 00:13] mrkshields commented on #614
No I have not.

However since I was able to use another firmware, and you've closed the
issue, I'll set that aside as an option for the future.

On Tue, Apr 27, 2021, 8:00 PM Jyers ***@***.***> wrote:

[2021-04-28 00:18] gmanc2 opened #637 "10x10HS UBL Stops at Point 65"
### Description

I did not compile my self I simply downloaded the E3V2-UBL-BLTouch-10x10-HS-v4.2.2.bin for the 4.2.2 board and it ends the mesh at point 65 every time

### Steps to Reproduce

1.) attempt to level bed
2.) Stops at point 65
**Expected behavior:** [What you expect to happen]
It continues leveling
**Actual behavior:** [What actually happens]
It stops at point 65
#### Additional Infor

[2021-04-28 00:18] Jyers commented on #614
Okay, whatever works best for you. I closed the issue as it seems to be an individual config issue rather than a general firmware issue. That being said, feel free to update this with any new findings as I would absolutely like to help you solve this issue.

[2021-04-28 00:21] Jyers commented on #637
See #419 and #403. I'm working on a status message will hopefully make this more clear in the future.

[2021-04-28 00:21] #637 closed

[2021-04-28 00:24] Jyers commented on #630
If you haven't set your xy offsets that'll do it. How you managed to create a successful mesh without setting them is beyond me though...

[2021-04-28 00:26] gmanc2 commented on #637
@Jyers Apologies, I looked and didn't see those two thanks for the response.

[2021-04-28 04:57] jfrenelle commented on #604
If you need a test subject send the firmware to me I'll flash it and try it for you

[2021-04-28 05:09] Jyers commented on #604
The main issue here is you're the only person I've heard from experiencing this problem, so I don't even know where to start here... I'll let you know as soon as I can think of a possible cause for this.

[2021-04-28 07:07] gothcha commented on #630
In the start code you need to use G29 L0  the firmware stores the mesh in slot zero not slot 1 as used elsewhere.

[2021-04-28 07:26] ludvigaldrin commented on #630
@gothcha thanks. Changed to L0 now.
@jyers, done that now :). No crash anymore. I would say I have spent so much time leveling that the changes are probably so small right now that it works without the mesh. Thanks for your help and great firmware. I guess a tip would be to have a link from releases to Wiki. Found a lot good information there.

[2021-04-28 07:26] #630 closed

[2021-04-28 07:30] gothcha commented on #630
@ludvigaldrin Yes it can become a little obsessive, my V2 is the same. It worked perfectly well without the probe or the mesh, but as I bought it with the probe I felt I should use it!

[2021-04-28 08:57] Tuncay-Ayhan commented on #630
Obsessive? Nah xD. I think we all have that just a "little"

[2021-04-28 09:03] Tuncay-Ayhan commented on #604
I'm not sure, but you could try to change your start code to what I have.

[code]

[2021-04-28 11:03] Lighty1989 commented on #628
If you could do this, maybe relatively soon, I would be very happy.

thank you, it is a very important function for me, as i also use a laser as I said

kind regards
Sven

[2021-04-28 11:31] Tuncay-Ayhan commented on #78
Maybe look into https://app.lokalise.com/ . I've seen people use it with the [Home-Assistant project](https://github.com/home-assistant/core) .

[2021-04-28 14:48] acadabon opened #640 "Error at compile"
### Description

When I try to compile version 1.3.1 without making modifications, I get an error

### Steps to Reproduce

Try to compile with Auto Build Marlin

Marlin\src\lcd\extui\lib\creality_dwin\creality_dwin.cpp: In member function 'void CrealityDWINClass::Popup_Control()':
Marlin\src\lcd\extui\lib\creality_dwin\creality_dwin.cpp:4772:29: error: 'LEVELING_GET_MESH' was not declared in this

[2021-04-28 15:29] Jyers commented on #640
Forgot a conditional. This should be fixed now

[2021-04-28 15:29] #640 closed

[2021-04-28 21:21] tititopher68 commented on #562
@gothcha : New build on line

[2021-04-28 23:11] jfrenelle commented on #604
Found the problem
Took out the M501 out and the screen stayed just like normal

[2021-04-28 23:39] Jyers commented on #604
Ahhhh that makes sense. M501 redraws the screen, but I don't think its coded to work on the print screen. I'll probably set that up to fix it.

[2021-04-29 11:33] Lighty1989 commented on #628
![Unbenannt](https://user-images.githubusercontent.com/83297890/116544309-413b7d80-a8ef-11eb-93d0-59e5f755b02b.jpg)

Is that this function by chance?

how long could it take you to add this menu?

i think your work is great :-D

[2021-04-29 12:43] tititopher68 commented on #628
@Lighty1989 : yes, it is indeed this function M428 or M206.  On the other hand, this requires reviewing its ergonomics.  Indeed, M428 alone is radical.  Like that, in the factory firmware, to go back, you have to do a complete Reset Settings of the printer.  Here it would be necessary to be able to return to the initial parameters without having to do a Reset to default ...

[2021-04-29 12:44] badplay opened #646 "How to add correct ofset for fanduct and bltouch?"
I have a ender 3 v2 4.2.2 with newst firmware from this github

now i noticed that the newfanduct is a little bigger so the bltouch go obove the left side and try to lvl. i used https://www.thingiverse.com/thing:4647053 with the bltoch bracked v2

[2021-04-29 14:42] gothcha commented on #646
Set the XY probe to nozzle offsets in Control/Advanced menu. Typically -42 -9 this should then probe on the bed

[2021-04-29 20:43] tititopher68 commented on #628
@Lighty1989 : I implemented this functionality in my last build V1.4.3.a.
You can set the offsets directly in the dedicated menu and reset to the normal position without having to reset the printer to default.
Firmware to compile here : https://github.com/tititopher68/Marlin

[2021-04-29 21:12] aryajuanda commented on #646
just read the description on thingiverse :

"As I based my BLTouch mount on this one, the probe offset is the same (probe offset: X-42.00 Y-10.00).
Due to some people experiencing clearance issues with the first version of the bltouch bracket there is now a V2 version which has more clearance by moving the bltouch a little bit more to the side. The offset for the V2 bracket is X-43.65 Y-10."

[2021-04-29 21:37] gothcha commented on #646
Which firmware did you load BLTOUCH or UBL-BLTOUCH?
So when you add the correct offsets what exactly happens when you run the bed levelling?

[2021-04-30 09:58] Lighty1989 commented on #628
Nice, is your firmware based of Jyers, lastest Update?

[2021-04-30 10:01] tititopher68 commented on #628
@Lighty1989 : Yes with a lot of additions and some fix.

[2021-04-30 10:37] Tuncay-Ayhan commented on #628
Non-issue related question.

I'm quite new to github stuff, so I was wondering how do you merge the latest updates from Jyers/Marlin into your fork/branch?

Im trying to maintain a fork that is parallel to Jacobs, with my custom settings and also up to date with his latest additions.

I've read about it, watched videos about, but still don't understand it.

**Is this the right way?**
![drawio](htt

[2021-04-30 10:47] Lighty1989 commented on #628
why don't you work together on the firmware? wouldn't it be better to share a github? I'll test yours tonight. It is important to me that its structure is like that of jyers, I like it very much.

[2021-04-30 12:04] Lighty1989 commented on #628
@tititopher68

I've already tested it, unfortunately it doesn't work as I did with the original firmware. i moved to my position across all axes and pressed set home offsets and that was my zero point until i clicked homeing again.

or what am I doing wrong?

the values ​​below are not zeroed either on the display X, Y and Z, they are fixed.

but the approach already what I want.

[2021-04-30 14:21] tititopher68 commented on #628
@Lighty1989
Unfortunately no, it can only work like this on Marlin bugfix 2.0.7.2 based firmwares. Unlike the Creality factory firmware version (1.0.2), the M428 command limits offsets to 20mm from the original 0 point or Endstops.
(cf:
 M428: Set home_offset based on the distance between the
 * current_position and the nearest "reference point."
 * If an axis is past center its endstop position

[2021-04-30 14:56] #646 closed

[2021-04-30 17:23] tititopher68 commented on #628
@Lighty1989 :
New build V1.4.3.b.
I think this should now match your expectation as best as possible (with Marlin's limitations).

[2021-04-30 19:09] Lighty1989 commented on #628
![fail](https://user-images.githubusercontent.com/83297890/116742899-5ea83e80-a9f8-11eb-8f27-de32efb37d1b.png)
Thank you for trying to help me so quickly.

unfortunately there are now compilation errors

[2021-04-30 23:16] tititopher68 commented on #628
@Lighty1989 : Sorry, but the file creality_dwin.h wasn't merged...Now it's OK

[2021-05-01 10:00] TheNeoShogun opened #658 "Manual tuning microstepping issue"
Firmware version 1.3.1 UBL 15x15 BLTouch 4.2.2.
After probing UBL with BLTouch mesh 15x15 there are points that are off on Z axis. With Manual Tuning I tried to set proper Point Z offset and using nob left/right to set value works but microstepping(up and down) makes Z offset behave like it "cached" the value and going to next point sets nozzle on the height of previously set point using microstep

[2021-05-01 13:48] tititopher68 commented on #658
@TheNeoShogun
I just tested according to your video with my build and Jyers's last build and i have no issue.
Have you compiled your firmware with your own configuration files?
Note that you are not currently using the latest firmware version. Indeed, the item NEXT no longer exists, that may have been your issue...

[2021-05-01 22:29] TheNeoShogun commented on #658
I use firmware from release section, I didn't compile any code.

[2021-05-01 23:49] Jyers commented on #658
Just published a new release with a revamp of the leveling menu. Let me know if the new version experience the same issue.

[2021-05-02 01:37] leandrotoledo opened #665 "E3V2-BLTouch-5x5-v4.2.2 uses UBL instead"
I just downloaded and updated the firmware on my Ender 3 V2 v4.2.2 w/ BLTouch from v1.3.1 -> v1.3.2 (E3V2-BLTouch-5x5-v4.2.2) and I noticed that under the Level Menu the firmware is offering UBL-related functions e.g. Create New Mesh, Mesh Viewer etc.

Steps to reproduce:
* Downloaded bin https://github.com/Jyers/Marlin/releases/download/v1.3.2/E3V2-BLTouch-5x5-v4.2.2.bin
* Renamed firmware in the

[2021-05-02 01:50] darco415 commented on #665
sd card should always be blank before adding new fw, and yes renaming from previous fw is a must

[2021-05-02 01:53] leandrotoledo commented on #665
I don't think the first statement is true. I successfully reverted back to v1.3.1 (w/ ABL) simply iterating the corresponding bin as firmware8.bin in the same (not blank) SD card.

[2021-05-02 03:17] rakosi2 opened #666 "Cooldown weirdness at the end of file."
### Description

I have an [auto-power off switch](https://www.thingiverse.com/thing:4779435). During cool down, you can go into the menu and it would go past my set temp.

### Steps to Reproduce
I have added the following to the end of my code:
[code]

**Expected behavior:** I expected it to continue printing so I still see the pause stop buttons.

**Actual behavior:** I get the Confirm button ca

[2021-05-02 05:03] Jyers commented on #665
This is simply a label mistake. As said in the release notes, all leveling versions now have a leveling menu. I just forgot to change the menu title from Unified to just Leveling. What you have is bilinear, not UBL. I'll get this fixed

[2021-05-02 05:03] #665 closed

[2021-05-02 05:12] Jyers commented on #665
FYI, this was a small enough fix and close enough to when I published the release, that I have simply re-done the release with the fix.

[2021-05-02 06:02] TheNeoShogun commented on #658
It's fixed but taking away "Next point" feature significantly reduced efficiency on quick mesh check-up a specially on  15x15 grid. One click vs click, turn by 1 value, click :-(

[2021-05-02 08:45] Lighty1989 opened #669 "Set Home Offsets"
hello jyers, i wanted to ask again, did you write that down somewhere with the set home offsets on all axis? that shouldn't be a big act for you.

maybe you can also create a new submenu prepare> laser settings> set home offsets or where you can move the axes, that you can set the zero point right there ...

I don't care, the main thing is that it would be a shame if I constantly have to flash fir

[2021-05-02 09:05] tititopher68 commented on #669
@Lighty1989
Did you only test the very last version that I offered to you? I remind you that the factory version functionality is no longer relevant at Marlin 2.0.x ... You can check it on the Marlin site concerning the Set home Offset  (M428 and M206).
 I invite you to test what is offered and if it is sufficiently satisfactory, I would put it in Pool Request.  @Jyers will integrate it or not (I

[2021-05-02 09:37] tititopher68 commented on #666
@rakosi2
On the precompiled firmware and in the configuration's files Emergency Parser is actived. I think that's what explains this behavior.  Try commenting out // #define EMERGENCY_PARSER in the Configuration_adv.h.  and recompile ...

[2021-05-02 10:07] Lighty1989 commented on #669
Oh okay, i test your last change.

[2021-05-02 13:52] Jyers commented on #658
Hmmm, I guess I never expected someone would want to go through the whole mesh like that. Makes sense though, I'll probably add it back then, sorry for the inconvenience.

[2021-05-02 13:52] #658 closed

[2021-05-02 13:53] jwkopp opened #672 "Newest 10x10 hs update"
During auto bed level process is it normal for the probing to not finish?  What I mean by is that it probes about 70-75 points then stops and tell me it has probed as many spots that could be reached.  Is that normal for auto bed leveling?  Or is something off.  Looks like the outside edge of where it probes is at the 220mm mark.  Should I change my bed size to 235 to get all the points?

[2021-05-02 13:57] Jyers commented on #672
No, that's correct. Funnily enough I added that "Probed all reachable points" popup to try to mitigate this question (I get it a lot) Maybe I should add "Everything is fine I swear" to the save level popup too... Anyway, yeah that's just how UBL handles the mesh, all other points will be inferred.

[2021-05-02 13:57] #672 closed

[2021-05-02 14:22] jwkopp commented on #672
Ok I wasn't worried about the prompt just making sure I was doing everything correct

[2021-05-02 14:41] TheNeoShogun commented on #658
Going through whole mesh with "Next point" is quite fast, I haven't measure it but subjectively 1s per point.
Thanks, I appreciate it. You are doing a great job, the firmware is awesome.

[2021-05-02 15:14] Jyers commented on #669
I think I have a way to implement this almost identically to how the stock firmware handles it. I'll work on it today

[2021-05-02 17:14] Lighty1989 commented on #669
@tititopher68

Unfortunately, it is not the desired effect.

Normally it should be that you approach all points via Auto Home. Then you put your axis on the position you want.

If all axes are in the desired position, Set Home Offset should take the position as the zero point.

Unfortunately this does not work with your changes, as soon as I load a file it starts again at the regular zero point of

[2021-05-02 17:40] Jyers commented on #669
@Lighty1989 Just implemented the option. In the motion menu there is now a set zero position option. It won't change the on screen coordinates, but the workspace offsets will make it so whatever position the head it at is considered zero when running your gcode. Can you compile your own firmware or would you like me to send you a compiled file so you don't have to wait for the next release?

[2021-05-02 18:21] Lighty1989 commented on #669
@Jyers thank you, i test it now and give feedback

[2021-05-02 18:30] tititopher68 commented on #669
@Jyers : I have already offered this to him and it was not good ... For him, the autohome must do this at the new coordinates (????). What I did, set the offsets to the chosen X, Y, Z values and then if we launch a Print, the 0,0,0 point is well shifted to the Offsets values, including the autohome. But I absolutely do not understand what he wants.
If you do a G92 X0 Y0 Z0, after positioning the a

[2021-05-02 18:32] Jonathan77390 opened #675 "M600 ender3v2"
Bonjour, je viens de flasher votre firmware, il est super, j'ai une suggestion d'amélioration, lors du m600 , l'extrudeur charge le filament et une purge qu'une seule fois, ce serait top de pouvoir repurger autant que l'on veut avant de relancer le print, une simple question " dois-je purger encore ? " oui ou non

Have you read Marlin's Code of Conduct? By filing an Issue, you are expected to comp

[2021-05-02 19:05] Jyers commented on #669
@tititopher68 Yes, but I'm assuming he is not auto-homing. For a laser gcode you don't auto-home, instead you "manually home the printer" by zero-ing all the axis like I implemented with G92. If you've ever used a cnc, you know that you don't home to the endstops, you home to the work piece so the machine knows where to put the pattern.

[2021-05-02 19:11] Lighty1989 commented on #669
Apparently there is a misunderstanding here

I have now tested the Jyers and it works like the original firmware

It may well be possible that it will work for you too, but I don't know how.

but i don't know the coding either, i can only say that it works from jyers.

I can move axes where I want under move, then I click on Set Zero Offset and go straight to Print and it lasers where I have defin

[2021-05-02 19:13] Lighty1989 commented on #669
Exactly, that's the way it is, CNC does exactly as you describe it.

[2021-05-02 19:13] tititopher68 commented on #669
I know all that but.... @Lighty1989 says : "Unfortunately this does not work with your changes, as soon as I load a file it starts again at the regular zero point of Auto Home.".
It is therefore necessary that he removes from his Gcode the G28 and all G92.1 or else he remakes his Gcode with the choice "No Homing" ....

[2021-05-02 19:16] Lighty1989 commented on #669
![l aser](https://user-images.githubusercontent.com/83297890/116824640-94316100-ab8b-11eb-93ea-e014ac14cb62.jpg)

This is what the gcode looks like from a laser file

possibly that clears up something

[2021-05-02 19:20] Jyers commented on #669
I don't think he meant he was auto-homing when printing as that would defeat the point of this whole thing. I think he just meant it went to 0,0 as in the last time he homed.

[2021-05-02 19:20] #669 closed

[2021-05-02 19:25] tititopher68 commented on #669
it's exactly what i propose.
if I run a Print with the Offset defined, my point 0,0,0 is well offset by the value of the offsets ....
In the video :
# 1 Without Set Home Offset: I run a print which contains (for the example a G28, but which first prints 2 purge lines at 0,0,0.)
# 2 I set in my example the offset to 50,50,50. The autohome at the end of the cycle is positioned at 50,50,50
I restart

[2021-05-02 19:36] tititopher68 commented on #669
video : https://e.pcloud.link/publink/show?code=XZQC6XZeUp8EykxFTh97AiprNlQ0RetvGxy

[2021-05-02 19:37] rakosi2 commented on #666
Same thing. I commented out //#define EMERGENCY_PARSER and it still allows me to go to the menu and it passes set 50c to 24c

[2021-05-02 19:49] Jyers commented on #669
But there's no reason to have persistent offsets. I'd imagine it's easier for the user if they do reset themselves when homing, that way you don't have to worry about the coordinate space being offset for any other functions. I see what you're trying to accomplish with your method, but I don't think that's what the goal is here. Simply setting the position to 0 0 0 is all that is needed.

[2021-05-02 19:54] Jyers commented on #675
This is achievable through marlin, but is not something I can edit after the fact. You would need to have the ADVANCED_PAUSE_CONTINUOUS_PURGE option enabled. It doesn't make sense to enable this in the precompiled as not everyone will need this option. If you would like such functionality I would recommend looking into compiling your own configuration of the firmware with this enabled.

[2021-05-02 19:54] #675 closed

[2021-05-02 19:56] Jyers commented on #666
I believe this is a result of `#define PRINTJOB_TIMER_AUTOSTART` Try disabling this option in configuration.h

[2021-05-02 20:30] rakosi2 commented on #666
That did seem to fix it. It did start beeping(End G-code) during the purge line(testing with only a purge line) but that could just be Marlin looking ahead.

[2021-05-02 21:05] Jyers commented on #666
Yeah, that would just be it finishing the commands early. Glad that did the trick!

[2021-05-02 21:05] #666 closed

[2021-05-02 21:51] Lighty1989 commented on #669
Now I understand your thinking but it's easier as jyers says. i would like to print mostly and for lasers every now and then that is completely sufficient and after the limit switches are approached again it is back to the basic position for printing. nevertheless many thanks for your effort.

Many thanks for your help @tititopher68 @Jyers

but the way I wanted it and know it from creality firmwar

[2021-05-03 09:00] kp-bit opened #678 "Kick-start parts cooling fan"
Would it be possible to implement a configurable threshold for when the parts cooling fan needs a kick to get going?

The problem is that when you have a 12V fan and buck converter, the fan is not handling PWM well at low rpm's. So when the parts cooling fan starts up at speed 85 on layer 2 (or whenever), it just rocks back and forth. A gentle nudge will get it going. Usually it needs to get over

[2021-05-03 11:16] Lighty1989 commented on #669
Hello jyers, your change works great. Can you Move set zero offset Button to Move Menü under Move X, Move Y, Move Z?

This is my last wish.

[2021-05-03 13:20] Jyers commented on #669
@Lighty1989 You're right, that's probably the better place for it

[2021-05-03 13:24] Jyers commented on #678
There is a configuration option for this in case you're able to compile your own firmware. If not I'll look into if it would be possible to expose this setting on the screen.

[2021-05-03 13:41] vhristenco commented on #678
Set fan_min_pwm to the lowest value that makes your fan spin.

[2021-05-03 13:48] kp-bit commented on #678
@vhristenco, wouldn't that make the fan blow at 200 when only for example 85 is wanted?

[2021-05-03 14:37] Jyers commented on #678
@kp-bit Yeah, what you want is `FAN_KICKSTART_TIME`

[2021-05-03 14:42] gothcha commented on #678
The buck converter is not at all ideal under PWM, the PWM is basically reducing the average drive voltage. The buck converter will be trying to maintain a fixed 12V output for all input voltages.

[2021-05-03 14:56] kp-bit commented on #678
@Jyers, awesome if you can somehow expose that in the menu! If not I guess I'll have to start compiling myself...

[2021-05-03 15:18] Jyers commented on #678
I'll put it on the todo list 👍

[2021-05-03 15:18] #678 closed

[2021-05-04 01:15] thefabnab commented on #557
I may be seeing something related. I'm trying to set my home offset using the v1.3.1 release, I'm finding that the home offsets I'm setting aren't working when I try to auto home the print head.

[2021-05-04 01:44] orangoo commented on #557
Is this issue the same as the z-offset value used in the Tune menu during a print not being saved?

To clarify what I mean is:
1) set the z offset using in the Tune menu option during a print
2) on completion of print - power cycle the printer
3) turn on printer and notice that the z offset value is set to zero.

Is this what you are describing?

[2021-05-04 02:04] thefabnab commented on #557
I just installed a microswiss direct drive and when I set the Home Offsets on the printer they don't seem to be going to the correct position when I auto home... but now that I'm thinking about it G28 should home all the axis, not place the head where the 0,0,0 position is taking into account the offset.

I'd say either ignore or delete my post. It isn't relevant to this issue and likely isn't an

[2021-05-04 05:09] tititopher68 commented on #557
@thefabnab, It is not the same subject here ....
It's not an issue either ... just look at this video: https://youtu.be/8MQRxBISYmU

[2021-05-04 11:03] Lighty1989 commented on #669
@Jyers everything can be set quickly under move without having to go back to another submenu, what can I do to move it there for myself?

[2021-05-04 12:17] gothcha commented on #562
@AngleV I have enhanced a few more of the icons and added one for the Probe to use in the advanced menu. I cleaned up the warning icons and the BLTouch icons as they were rather fuzzy and dull!

I successfully packed and loaded these after editing them using Paint.

![IMG_5614](https://user-images.githubusercontent.com/80574048/117001250-031cd000-acda-11eb-93e5-3ac4e9508903.jpeg)
![IMG_5615](https

[2021-05-04 13:24] tititopher68 commented on #562
@gothcha : Very cool !!!!
Just implemented in my build V1.4.4.b (with others things...)

[2021-05-04 13:49] gothcha commented on #562
Great, nice to have a bit of colour!

[2021-05-04 13:54] tititopher68 commented on #669
@Lighty1989 You are really impatient ;-)
![Step1](https://user-images.githubusercontent.com/18162675/117014185-d9bb6e80-acf0-11eb-8e24-67023b5f469d.png)
![Step2](https://user-images.githubusercontent.com/18162675/117014187-da540500-acf0-11eb-900a-e1774093b590.png)

[2021-05-04 14:04] Lighty1989 commented on #669
Okay, i test it. Thanks for your help @tititopher68

[2021-05-04 14:47] tititopher68 commented on #658
@TheNeoShogun : code for ->
![code 2 NEXT-PREV](https://user-images.githubusercontent.com/18162675/117022305-6ddd0400-acf8-11eb-8862-ea83962e2a15.png)
![code NEXT-PREV](https://user-images.githubusercontent.com/18162675/117022322-71708b00-acf8-11eb-9809-d902d7a75e36.png)

[2021-05-04 17:12] Lighty1989 commented on #669
@tititopher68 it works :-) thank you
@Jyers this icon in white/blue... more cnc like ^^
![images](https://user-images.githubusercontent.com/83297890/117042712-9c64da00-ad0c-11eb-979f-bfb74a96ac60.png)

[2021-05-04 18:49] AngleV commented on #562
@gothcha
it looks awesome !!!

[2021-05-04 19:47] BulldawgDesigns opened #696 "Download only allows Manual Bed level with my bltouch"
I dowloaded and flashed my Ender 3 V2 with E3V2-BLTouch-5x5-HS-v4.2.2 and it will not regocnize my bltouch.
When I go to the level prompt it only allows me to to create a manual level.  I cannot auto level.
I have tried several re flashes and have the same issue.

### Description

### Steps to Reproduce

1. [First Step]
2. [Second Step]
3. [and so on...]

**Expected behavior:** [What you expect to

[2021-05-04 20:05] gothcha commented on #562
Thank you, I will keep working to perfect them and keep a design pattern going. Gradually we will lose some of the blue on grey look! Any suggestions will be taken on board guys.

[2021-05-04 20:15] arballz opened #697 "Manual UBL Bed Leveling z offset doesn't change or jumps."
### Description

When manually leveling the bed using UBL on the UBL-Noprobe firmware the number sometimes doesn't change or jumps over a number

### Steps to Reproduce

1. go to create new mesh and click on microstep down.
2. When you reach -0.09 you will push microstep down and it wont change.
3. If you push it again it will change to -0.10 then -0.11 then push one more time and it changes to -0

[2021-05-04 21:56] Jyers commented on #562
@gothcha Those look great! I'm going to be organizing the display firmware folder soon and making a place for different "themes" or icon packs people have made. Would love to have this be one of them if that's cool with you :)

[2021-05-04 22:05] gothcha commented on #562
Thanks Jacob, I would be honoured, it is a pleasure to help your great work, it must take up a lot of your precious time! I will work on completing the set and send you a final copy. I know having a distinctive look is important and sets this repo apart. It appears to be exploding based on the increase in the comments & questions.

[2021-05-04 22:10] tititopher68 commented on #697
Well no, because you forget that in reality, the precision of the point is less than a hundredth of a millimeter and therefore, to make the display visible, the value is rounded ... so for example 0.01 can be 0.014 or 0.009 in reality...

[2021-05-04 22:14] tititopher68 commented on #696
I think it's a material BLTouch issue...

[2021-05-04 22:25] arballz commented on #697
I was wondering if that was the case but didn't have the data to confirm. If a rounding issue is the problem then I will close this as long as the actual value is recorded and not the rounded display value.

[2021-05-04 22:53] BulldawgDesigns commented on #696
What does that mean?
I can use an older version and it works.  The new version doesn’t.

Sent from my iPhone

[2021-05-05 05:19] scott-engemann commented on #563
I just updated to `1.3.2` and am experience a similar issue to @twuytens . First I experienced a `serial mismatch` error. I rebooted my Octoprint and now it won't connect at all.

[code]

[2021-05-05 05:25] Jyers commented on #563
First off check the wiki page on octoprint settings to disable M112. Have you tried resetting and storing eeprom since the upgrade?

[2021-05-05 05:39] Jyers commented on #697
Yes, I can confirm that this is simply a rounding issue, I may change how the display values are rounded in the future to avoid confusion.

[2021-05-05 05:39] #697 closed

[2021-05-05 05:41] Jyers commented on #696
Just to confirm, if you go to the leveling menu and select "Create new mesh" it goes to a manual leveling screen and does not start leveling automatically?

[2021-05-05 05:48] scott-engemann commented on #563
I have not tried either of those yet. I will probably try this tomorrow and report back the result.

[2021-05-05 06:46] rollyceballos opened #702 "Preheat After Cancel Print (from SD Card) with OctoPrint connected"
### Description

When Octoprint is connected to the printer, and cancelling the print the printer beeps this cue as if it's a change filament sequence.  Doing anything after that pre-heat, or starting a new print will be cut off by a Reheat Timeout error.

This is related to a discussion #594

Used E3V2-UBL-BLTouch-10x10-HS-v4.2.2.bin of v1.3.1 release

This never happened on the main MarlinFW bra

[2021-05-05 08:06] gothcha commented on #702
Is it related to enabling Emergency Parser? The M108 interacts with this apparently, check the Marlin wiki. Previous versions of the firmware did not have this enabled.

[2021-05-05 08:22] gothcha commented on #702
I do not use Octoprint but from the logs, Octoprint appears to be sending a pause M25 which the printer responds with a park to bed centre and then the reheat cycle.

So question is why is the Pause being sent from Pi after the cancel?

[2021-05-05 10:06] rollyceballos commented on #702
That’s what I was wondering as well.  I just started with Jyer’s firmware in 1.3.0 and have been switching between my own compiled version.  The firmware I built doesn’t do this with the same octoprint running on my raspi.  I’ve been able to isolate it only to happen on Jyer’s firmware.

[2021-05-05 11:54] tititopher68 commented on #696
@tititopher68 , do you have the Probe X Offset item or Probe menu into Menu Advanced...If Not, it's a matérial issue.
The firmware test if you have a bed Probe (HAS_BED_PROBE), if not , you get the manual Mesh menu...

[2021-05-05 12:02] Bersaker opened #705 "Firmware Update / Saved Config"
Hi. If i make a firmware Update from 1.3.1 to 1.3.2 ...must i reset the 3d printer or can i used the saved settings ?

Thanks

[2021-05-05 12:32] tititopher68 commented on #696
I am correcting my previous post, because it is imprecise.
In the firmware there is a HAS_BED_PROBE test. This parameter is at 1, if there is a BLTouch for example in the Configuration.h file (#define bltouch).
When we compile the firmware, it is first checked (according to Configuration.h) if we have chosen the UBL mode. If this is the case, is tested if we have a leveling probe, etc ... If we ha

[2021-05-05 14:44] gothcha commented on #562
OK guys I have cleaned up and enhanced most of the icons. The one I love in particular is the speed icon. I could never understand the original one, so now there is a cute racing hare!! I quite like the overall look, without going over the top! Let me know if you have any comments or suggestions.

This is the main selection.
![IMG_5622](https://user-images.githubusercontent.com/80574048/117156776-

[2021-05-05 15:08] Tuncay-Ayhan commented on #562
That looks awesome! Thanks for sharing!

[2021-05-05 15:49] gothcha commented on #702
The pre-compiled binaries are now enabling the Emergency Parser by default.
#define EMERGENCY_PARSER  in  configuration_adv.h

If this is the issue then compile a version yourself with this commented out and check if this fixes the issue.

[2021-05-05 16:08] rollyceballos commented on #702
ok, will be able to test that 'workaround' after I finish this 1-day print.

 if I get to confirm this it seems like an Octoprint issue, or the main MarlinFW branch?

[2021-05-05 18:07] Jyers commented on #562
Looks great! Can't wait :)

[2021-05-05 18:16] Jyers commented on #705
It is best practice to reset eeprom after a flash. Depending on your setup, you can use either M503 or octoprint eeprom editor to restore your settings after a flash.

[2021-05-05 18:16] #705 closed

[2021-05-05 18:20] Jyers commented on #702
This is very strange. My firmware is doing what it's supposed to and handling the M25, but why is there an M25 in the first place. I have never noticed this behavior. Have you tried disabling all your plugins to see if maybe one is doing something weird.

[2021-05-05 18:45] scott-engemann commented on #563
I have been able to resolve this issue. It would have been a good idea for me to first goto the printer and look at the darn screen so I could see the error message indicating me to power cycle the printer. That was probably the main issue as to why Ic couldn't get OctoPrint to connect. (Forgive me, I was gaming with some buddies at the time too 🤓).  I also disabled `M112` commands (blocked and re

[2021-05-05 20:46] tititopher68 commented on #562
What do you think about that ?

https://user-images.githubusercontent.com/18162675/117206913-af9ea500-adf3-11eb-9368-63a597ceab49.mp4

[2021-05-05 20:50] Tuncay-Ayhan commented on #562
Damn. That looks amazing. Don't tease me like that xD

[2021-05-05 20:54] gothcha commented on #562
@tititopher68 Well done!

[2021-05-05 22:51] rollyceballos commented on #702
will try that too later today.

[2021-05-06 00:23] Jyers commented on #702
Just checked and you can disable M108 sends on octoprint cancel from the octoprint settings. I might give it a try to see if that helps

[2021-05-06 03:06] rollyceballos commented on #702
Is this the default ‘Emergency Commands’ in ‘Protocol Fine Tuning’? This may be related to the enabled ‘Emergency Parser’ that’s enabled by default mentioned by @gothcha ?

[2021-05-06 06:27] TheNeoShogun opened #715 "[BLTouch] Create new mesh vs Autotilt current mesh"
I have firmware 4.2.7 UBL 15X15 BLTOUCH v1.3.2
I noticed that with warped glass bed it's significant difference on how autotilt and create mesh is measuring with BLTouch.
First image is create mesh and checked with manual tuning that nozzle touches the glass bed in the middle and on the sides.
![DSC_0026](https://user-images.githubusercontent.com/83493695/117250737-f5835980-ae43-11eb-8d01-c39435f7

[2021-05-06 06:47] gothcha commented on #715
Is the variation truly almost 3mm? If so I assume individual values cannot be displayed above 0.99mm? I would get a decent bed, mine is within +\- 0.2mm. The tilt works perfectly (3 or 4 points) for me.

[2021-05-06 07:05] TheNeoShogun commented on #715
The BLTouch supposed to fix uneven glass bed so you wouldn't have to buy new one. If you have flat even glass bed then BLTouch is unnecessary.
Other problem with buying new glass bed is it can also be uneven and you could ended up buying for example 10 glass beds and all uneven and warped.
I bought BLTouch because I couldn't get print after properly levelled glass bed.
Buying new glass bed is not

[2021-05-06 07:33] gothcha commented on #715
Sorry I was trying to understand the variations from the view mesh screen. There appear to be adjacent mesh points that go from almost zero to max green (front right 3-4) Almost like there is a step? Or are the colours not displaying correctly?
The autotilt will be homing at the centre (ref origin) then measuring a selection of points and comparing the values to the current mesh. The order of tilt

[2021-05-06 07:46] gothcha commented on #715
The tilt routine is defined/controlled in the standard Marlin and Jyers firmware does not impact on its operation simply runs the specified G codes.

[2021-05-06 07:54] TheNeoShogun commented on #715
If I could code and compile I would probably work on it myself but I can't. I count on your help guys.
If both autotilt and create mesh home on the same ref point, why such a huge difference? The zero point for both should be the same value if it's starting in the same origin, right? Then the variation should be minimal. Even using 64 points autotilt the diffrence shouldn't be that big but it is.

[2021-05-06 08:05] gothcha commented on #715
@TheNeoShogun  - can you confirm that the bed variation is actually 3mm and if there are steps/lumps in the corners? The auto level sadly cannot perform miracles, it will reduce the variation but the remaining error is a function of the original error, and rapid variations are a significant limitation to the effectiveness. If you remove the glass itself is the metal plate flat? I was just surprise

[2021-05-06 08:09] gothcha commented on #715
Also you do not have to run the Autotilt (G29 J) in start code, if you are happy with the stored mesh result remove the G29 J and just leave the G29 A and G29 L0 to activate and load the mesh. This may avoid the issue and save time? The tilt is only useful if you have removed the bed or changed the level screws.

[2021-05-06 08:17] DominicCasper opened #716 "Micro Swiss Direct Drive"
The Micro Swiss Direct Drive doesnt work with your Firmware.

I must set:
#define X_MIN_POS -5
#define Y_MIN_POS -10
on the Configuration.h.
 Is it possible to recompile or modifiy the .bin file?

Thanks
Dominic

[2021-05-06 08:32] TheNeoShogun commented on #715
@gothcha I'll check the variations later. The glass bed was clean before create mesh and autotilt. Not looking on one specific point but on overall view, you can notice that its like whole bed shifted on Z axis on all points.
If there is like few points off with autotilt using 64 points, shouldn't there be plane tilted little bit instead of shifted whole thing ?
I'm just trying to understand how t

[2021-05-06 08:56] rollyceballos commented on #702
I haven't figured this one out where this setting was so wasn't able to test.  I tried removing it from the Protocol Fine Tuning but I don't think that was it as it still sends M108 and M25.

I have tried disabling 'EMERGENCY_PARSER' like @gothcha suggested but made no difference.

[2021-05-06 09:08] gothcha commented on #715
No I think that may exactly be the issue. I was concerned about exactly this type of thing so I compiled with the mesh and probe offsets set such that all 100 points are measured and that the 3 tilt points match the mesh points. This way there is no interpolation/extension of the mesh. This has worked for me. If is very easy to compile your own, I was a little nervous initially but found it straig

[2021-05-06 09:29] TheNeoShogun commented on #715
@gothcha Just noticed that Autotilt in Level menu doesn't home it just go to left bottom corner and start to measure.
The create mesh does home. I use 15x15 UBL v1.3.2 nad mainboard 4.2.7 and autotilt with 64 points(grid 8).
I experimented with Z offset from Prepare menu and Autotilt from Level menu.
I put the Z offset to -2.50 and run Autotilt then I change Z offset to 0.00 and run Autotilt.
The

[2021-05-06 09:37] TheNeoShogun commented on #715
@gothcha autotilt is not always homing, now put Z axis i Move to 30.0 and it did home but I it was idle for a while so I have to check if it's also time based thing.

[2021-05-06 09:38] gothcha commented on #715
Just tested mine and after power up and load mesh the Autotilt homes first as it should. If it has already homed then it will not rehome on a second tilt.

[2021-05-06 09:43] TheNeoShogun commented on #715
@gothcha it is possible that someone can physically by accident move printhead, put arm on X gantry or move the bed and it's not showing on coordinates on screen so to prevent possible errors I would put home before any operation that changes the position of the nozzle.

[2021-05-06 09:43] gothcha commented on #715
No the Z offset will have no effect on the BLTouch or levelling, just impacts the nozzle height during print.

The default builds have mesh inset at 10 and probe margin at 20, so the marlin code will have to interpolate/guess the outer 10mm of the mesh which it cannot probe. Plus the final 10mm outside the mesh is not calculated at all. So 20mm around the edges is a little suspect. If your bed is

[2021-05-06 09:45] gothcha commented on #715
A valid point, something for @Jyers to consider? But more than likely unrelated to your issues.

[2021-05-06 09:53] gothcha commented on #715
It homes again if the steppers have been disabled.

[2021-05-06 10:37] TheNeoShogun commented on #715
Using the same mesh without loading for few times.
Another tries: Move -> Z 30 - it homed.
![DSC_0038](https://user-images.githubusercontent.com/83493695/117280866-566e5a00-ae63-11eb-99df-86d658a425f0.JPG)

Then right after autotilt another autotilt the Z is 10.0 after previous one. No home.
![DSC_0039](https://user-images.githubusercontent.com/83493695/117280895-5ec69500-ae63-11eb-882f-0c906dca76

[2021-05-06 10:51] gothcha commented on #715
Have you run the BLTouch repeatability test from the Control/Probe Menu? This will give the variation between probes to verify the BLTouch is working correctly. I does this at the centre of the bed. If this is OK then other than what I have already indicated I cannot shed any more light on this sorry. You could try changing the tilt mesh setting to 1 (currently 2)in the UBL settings menu, this wil

[2021-05-06 10:53] TheNeoShogun commented on #715
Now, Level menu -> load mesh, Prepare menu -> disable stepper ,  Level menu -> autotilt.
![DSC_0044](https://user-images.githubusercontent.com/83493695/117286825-f333f600-ae69-11eb-989b-31039fe89c18.JPG)

Ok, I'll try run probe test.

[2021-05-06 10:56] TheNeoShogun commented on #715
Deviation 0.026327.
What does it tell me?

[2021-05-06 11:03] TheNeoShogun commented on #715
Ok, deviation changes every test.
0.122139(Count 5) , 0.006209(Count 4) , 0.006289(Count 4), 0.006436(Count 4), 0.004204(Count 4)

[2021-05-06 11:12] gothcha commented on #715
The 0.006 numbers look fine but the 0.12 looks odd - I believe this is the spread in mm
Should be less than 0.01mm I would guess.
Perhaps there is an issue with the BLTOUCH?

[2021-05-06 11:18] gothcha commented on #715
Are you running the mesh generator with the bed at operating temperature? Same question for the tilt. It is advisable as the bed can warp over temp. This is not related to your inconsistency however.

[2021-05-06 11:21] tititopher68 commented on #562
With the Jyers icon pack (including the new AxisBL icons, etc.) there is a bug.
In principle, the screen firmware only accepts a limited size for the 9.ICO file. And there, if you go to menu Prepare -> Manual Level, the menu is not displayed completely and hangs!

[2021-05-06 11:22] TheNeoShogun commented on #715
I can't tell if anything is wrong with BLTouch, looks ok.
Bed temp is 55 C while all the measurements.

[2021-05-06 11:29] smooreace commented on #716
It works perfectly, Especially since the Firmware has zero direct function
involving anything outside the screen and controller. But you have to
compile your own firmware, as instructions tell you.

On Thu, May 6, 2021 at 3:17 AM DominicCasper ***@***.***>
wrote:

[2021-05-06 11:44] tititopher68 commented on #562
For my part I deleted the 4 Chinese icons entries (# 82, # 84, # 86, # 88) in 9.ICO and in DWIN_ICO.py and more bugs!

[2021-05-06 11:44] DominicCasper commented on #716
@smooreace thanks for your help.
Can you explain me how to compile my own firmware?

[2021-05-06 11:57] gothcha commented on #715
Great stuff on the temp. What Probe XY offsets are you using. Maybe I can compile a version for you with a fully probable 10x10 mesh and see if that helps. However if there is an issue with the repeatability then you will still have problems. Run the test with 20 points or so a few times and see what this gives. There have been issues with the BLTouch causing probing failures. See thread #192 - bo

[2021-05-06 11:58] TheNeoShogun commented on #715
@gothcha just switched to 10x10 firmware and autotikt grid 2 and looks better. Less differences.
Create mesh
![DSC_0050](https://user-images.githubusercontent.com/83493695/117294509-fed7ea80-ae72-11eb-8925-ea783dd63f29.JPG)
Autotilt
![DSC_0053](https://user-images.githubusercontent.com/83493695/117294546-0dbe9d00-ae73-11eb-8e06-1b70fb20dbd6.JPG)

[2021-05-06 12:03] gothcha commented on #715
Fabulous this looks perfect. I must say I have only ever used the 10x10 mesh. Hopefully you can now print away to your hearts content :) Your bed is now within +/- 0.2mm as I would have expected.

Would be interesting to see if anyone else is having any issues using a 15x15 mesh?

[2021-05-06 12:09] TheNeoShogun commented on #715
@gothcha I'm using 5pin BLTouch port on Creality Marlin 4.2.7. Autotilt on already tilted mesh still having problems.
![DSC_0054](https://user-images.githubusercontent.com/83493695/117295504-3a26e900-ae74-11eb-831c-e961388dd0ea.JPG)

At least it's fairly accurate on first run.

Yes, I'm interested on how other people have issues.
I'm now suspecting that autotilt calculations may have small error s

[2021-05-06 12:10] tititopher68 opened #717 "Issue with new pack icons (include Gotcha icons and AxisBL, etc...)"
( #define CREALITY_DWIN_EXTUI_CUSTOM_ICONS actived)

With the Jyers icon pack (including the new AxisBL icons, etc.) there is a bug.
In principle, the screen firmware only accepts a limited size for the 9.ICO file. And there, if you go to menu Prepare -> Manual Level, the menu is not displayed completely and hangs!

For my part I deleted the 4 Chinese icons entries (# 82, # 84, # 86, # 88) in 9.IC

[2021-05-06 12:39] smooreace commented on #716
Nope... there are probably hundreds of guides and videos out there
pertaining to this. No point in reinventing the wheel

On Thu, May 6, 2021 at 6:44 AM DominicCasper ***@***.***>
wrote:

[2021-05-06 12:41] DominicCasper commented on #716
@smooreace ok thanks :)

[2021-05-06 12:42] #716 closed

[2021-05-06 13:02] gothcha commented on #562
I agree, it is the same for me, it doesn't hang but the icons are not displayed or mis-formed!! I am sure it was working previously. I shall test with the official DWIN and see what happens

[2021-05-06 13:23] gothcha commented on #562
I tried re-saving the jpg files and this fixed the one that was distorted but the others are still not displaying. Do you know what the file limit size is?

[2021-05-06 13:27] gothcha commented on #562
Interestingly when I initially added the Probe Icon as 255 it didn't work! So maybe it is related. The one that works AxisBR is 250. I don't know why there is a gap in the numbers above 205. Maybe try moving them to lower numbers?

[2021-05-06 13:35] TheNeoShogun commented on #715
@gothcha this is insane. I lubed the probe with ceramic grease and I got more consistent results.
Results of M48 vary in range of 0.0005.. to 0.003...

[2021-05-06 13:42] adam3654 commented on #715
What is the name of the ceramic grease you used? I've had the consistency problem in the past.

[2021-05-06 13:45] gothcha commented on #562
Christophe - when I used the 9.ICO from the 'Mlevel-arrows' folder it works! This is 230KB the one that I modified that does not is 236KB.
Did you try the one from this folder?

[2021-05-06 13:49] TheNeoShogun commented on #715
@adam3654 CX80, I put a little bit and wiped off excess grease so theres very thin layer.

[2021-05-06 13:56] adam3654 commented on #715
Thanks @TheNeoShogun I'll try to find some for future use.

[2021-05-06 14:40] Jyers commented on #715
@TheNeoShogun Have you tried a larger probe grid? The grid size can be set in the UBL settings menu. 1=3 point, 2=2x2, etc.
A 2x2 would definitely be more accurate, and a 3x3 has a probe point in the middle, so maybe that would prevent it from getting offset.

[2021-05-06 14:47] Qubi-B opened #719 "Do I have to increase flow rate when increasing speed during print?"
It seems like it's underextruding when I set speed to 150%, so I guess I should set also flowrate ? Sorry for dumb question.

[2021-05-06 14:48] Jyers commented on #702
@rollyceballos Hmmmm, I really though emergency parser would do it. In that case this might be an upstream marlin bug, I'll pull from upstream and see if I see any change.

[2021-05-06 14:50] Jyers commented on #719
No, the extruder speed is adjusted when increasing the speed. Either your extruder can't handle the speed or you max extruder speed it set too low.

[2021-05-06 14:50] #719 closed

[2021-05-06 14:52] Jyers commented on #717
I need to reorganize the icon packs and sort some stuff out anyway. I'll update this when I've got that done. I think you need the MLevel icon pack though, as I don't know if the others have the icons for manual leveling, that's probably your issue.

[2021-05-06 14:52] #717 closed

[2021-05-06 14:52] #696 closed

[2021-05-06 15:03] gothcha commented on #562
Looks like you are correct, if I keep the file to 227KB it is fine. Some of the new icons are larger files due to colour etc. Will have to do some more work to keep them below the limit!

[2021-05-06 15:16] gothcha commented on #715
@TheNeoShogun Good idea on the lubrication, I have seen this done before.

[2021-05-06 15:23] TheNeoShogun commented on #715
@Jyers here is comparison.
Create Mesh 10x10.
![DSC_0069](https://user-images.githubusercontent.com/83493695/117323651-5edc8a00-ae8f-11eb-9953-9aec4b12ebbd.JPG)
And load mesh, autotilt from 1 to 8 grid.
![DSC_0060](https://user-images.githubusercontent.com/83493695/117323786-7ddb1c00-ae8f-11eb-964c-7f8e00834084.JPG)
![DSC_0062](https://user-images.githubusercontent.com/83493695/117323816-84699380-

[2021-05-06 15:27] tititopher68 commented on #562
@gothcha :  inf to 227 KB seems the limit

This already explains why @ tome9111991 wrote: "Small Bug: Center Icons looks like not centered i dont know why."

[2021-05-06 15:32] Jyers commented on #715
Very interesting, it seems larger meshed move the whole mesh up. Might be due to how they reference the mesh

[2021-05-06 15:35] Jyers commented on #562
We can drop all the text image files to save space. I swapped all image copy text for string draws a while ago.

[2021-05-06 15:35] gothcha commented on #562
That’s a big help, I was about to try this too, I will go through the .h file and see which icons Jacob is not actually using, I found one yesterday as I was editing them

[2021-05-06 15:39] tititopher68 commented on #562
Yes, it's an idea, but when we create the 9.ICO file with makeIco.py, it add at the ID of the icon  :  UNKOWN. I will also look to modify MakeIco.py to not have this.

[2021-05-06 15:40] gothcha commented on #562
@Jyers If you use Christopher’s mods to replace the Confirm, Continue and Cancel popups that will save three more!

[2021-05-06 15:40] tititopher68 commented on #562
For my part I deleted the 4 Chinese icons entries (# 82, # 84, # 86, # 88) in 9.ICO....The firmware is only in english

[2021-05-06 15:41] gothcha commented on #562
I will do the same, I have already made some changes to the .py file

[2021-05-06 15:43] TheNeoShogun commented on #715
@Jyers this is load mesh, autotilt, change grid size repeat(no auto home from tilt or manualy from prepare). I mean that autotilt doesn't trigger home, nor I run it from prepare menu.
Now I'm checking load mesh, auto home from prepare, autotilt, change grid repeat from 1 to 8. And I think this will also be interesting.

[2021-05-06 15:43] tititopher68 commented on #562
It's an  idea, not necessarily like for me who works with visually impaired to have color choices (Even if I regret that with most developers, the Accessibility part "is forgotten ....).

[2021-05-06 15:54] tititopher68 commented on #562
The name of the icon is not used in the encoding 9.ICO

[2021-05-06 15:58] Lighty1989 commented on #669
@tititopher68 who i can find the dwin_set you are using on your display (see your video) i like this icons

[2021-05-06 16:13] tititopher68 commented on #562
But you can create 3.ICO et 6.ICO and 9.ICO with a size max for each ICO 226 KB. The max size is 512 KB for the 3 jpg files  and ICO's files....
Soo i mod the firmware to use  the news icons into 3.ICO

[2021-05-06 16:18] TheNeoShogun commented on #715
@Jyers now that's interesting.
The same mesh 10x10
![DSC_0069](https://user-images.githubusercontent.com/83493695/117331377-fabdc400-ae96-11eb-83d2-a180466c116a.JPG)

Reverse order(just for fun) grid from 8 to 1. With steps load mesh, Prepare -> auto home, level -> autotilt,  change grid,  repeat.
![DSC_0070](https://user-images.githubusercontent.com/83493695/117331421-07421c80-ae97-11eb-8326-7847

[2021-05-06 16:24] Jyers commented on #715
I'd say that's pretty conclusive. Autotilt should always home first. I'll make it happen 👍

[2021-05-06 16:24] #715 closed

[2021-05-06 16:26] tititopher68 commented on #562
I just make a 3.ICO + 9.ICO
9.ICO is the stock icons
3.ICO is a mix of AngelV, Gotcha and tome911199
I create a function GetPackICO like GetColor and it's OK. I can have now 3 packs...

[2021-05-06 16:27] Chaseums0967 opened #720 "Live Adjust Going Wild, LCD Knob Response issues."
Description

1) Live Adjustment causing axes to stutter back and forth when commanded to only flow in a single direction (AKA sending Z up so I can clean my bed.) Does not have the same issue when live adjust is off. Happens EVERYTIME I turn on live adjust.

2) When LCD knob is used to navigate screen, menu options often won't change until after the wheel has rotated a single 'click' twice. Seems

[2021-05-06 16:28] Jyers commented on #562
@tititopher68 Interesting, I'll have to take a look at that...

[2021-05-06 16:29] TheNeoShogun commented on #715
@Jyers great, thanks!

[2021-05-06 16:42] tititopher68 commented on #562
@Jyers
The differents parts to add for creality_dwin.cpp and creality_dwin.h
[GetPackICO.zip](https://github.com/Jyers/Marlin/files/6436266/GetPackICO.zip)

[2021-05-06 17:11] tititopher68 commented on #669
@Lighty1989
In my build : https://github.com/tititopher68/Marlin/tree/Ender_3_V2_Extensible_UI/Display%20firmware/Firmware%20NEWS3%20Icons/DWIN_SET

[2021-05-06 17:31] tome9111991 commented on #717
I dont have issuse with Mlevel icon pack 🤔

[2021-05-06 17:32] tititopher68 commented on #720
LCD knob has an issue, but it's a material issue. I also randomly have this. If I turn the knob very quickly in either direction, it seems to reset. I have already read this issue on other sites, not only for the Ender3V2 but also for other printers using this same screen ... even in stock firmware, I already had this ...
Creality must know the problem, because when I contacted support, they sent

[2021-05-06 17:37] tititopher68 commented on #717
@tome9111991 but i don't know if you have all the news icons...@gotcha have the same issue
You have too this issue...You wrote : "Small Bug: Center Icons looks like not centered i dont know why."
Look at this discussions : https://github.com/Jyers/Marlin/issues/562

[2021-05-06 18:29] wrchasesims commented on #720
Interesting. I'm not too sure that on my ender it's a material issue tho. The knob consistently works totally fine until I try to take one of the above mentioned actions. And has never ever had an issue with slipping until now.

[2021-05-06 19:00] tome9111991 commented on #717
Okay true.
I dont use the new icons

[2021-05-06 19:44] AngleV commented on #720
@Chaseums0967

I was planning to report this issue as well as i have noticed this too also.

I would like to report also that this misbehavior happens usually when you rotate the encoder very fast as Christopher said.
Honestly i do not know if it's faulty material or code related

[2021-05-06 20:37] wrchasesims commented on #720
The reason I believe it's code related is that I don't feel any physical mechanical slippages, and it only happens after certain actions are taken, and those actions consistently cause the issue.

Are you also experiencing the live adjustment problems?

@Jyers any idea what may resolve these issues? Wonderful work, by the way. Thanks so much!

[2021-05-06 20:47] Jyers commented on #720
The only way this would be a firmware bug is if somehow the encoder was getting put into rate adjust mode (increase encoder difference reports when spinning faster) I'll look into it but it seems unlikely. The note of "Eventually causes screen to reset itself which usually clears any unsaved configurations." really makes me think this is a hardware issue, as full reboot generally means a fatal err

[2021-05-06 21:06] wrchasesims commented on #720
@Jyers Copy that and thank you! Not trying to step on your toes here or make it seem like what you've done is faulty. It's almost certainly something on my end, I just don't know what that something is.

Is there any possible chance it's that new LCD FW needs to be flashed? Sorry for any silly questions but this side of 3D printing is so new to me it's making my head spin. Just trying to spend the

[2021-05-06 21:16] Jyers commented on #720
@Chaseums0967 Sorry if it seemed like I was annoyed, this was like # 8 of 12 notifications I was running through so I was just getting to the point 😅 You could try different screen firmware and see if it helps. At the moment I don't really have anything to go off besides checking the encoder rate, so feel free to update if you get any new information and I'll do whatever I can to help get this fix

[2021-05-07 06:24] Joulss commented on #78
Available for french if needed

[2021-05-07 08:05] gothcha commented on #562
@tititopher68 @Jyers

[Gotcha_Custom Icons.zip](https://github.com/Jyers/Marlin/files/6440027/Gotcha_Custom.Icons.zip)

I have attached my updated icons. Incorporate these as you think best, it looks like you have a great handle on the DWIN file structures now.

As a note I found that the current icon choices may not be ideal so I made the following changes

Draw_Menu_Item(row, ICON_Speed, (char*)

[2021-05-07 19:19] tititopher68 commented on #562
Finally due to the memory capacity, I can only have 2 packs (including the new @Gotcha icons).  So I simplified the code.  In addition I did the firmware migration to Marlin 2.0.8.0 from this day.  I am testing for a few days and will then put it all online.

[2021-05-07 22:32] HWCronicus opened #736 "REVERSE_ENCODER_DIRECTION"
### Description

I'm using your firmware on my Voxelab Aquila (Ender 3 vs clone). Everything works pretty much fine, but I'm unable to get the rotary knob to reverse direction by uncommenting any and all "Encoder Direction Options". I'm pretty new to editing and compiling firmware, but I've gotten 1.3.0 and 1.3.1 to work with little effort But 1.3.2 doesn't want to listen lol. Thanks for any help

[2021-05-07 22:43] #736 closed

[2021-05-07 22:56] HWCronicus commented on #736
Figured it out lol. Just swapped the CCW and CW in Rotary_encoder.ccp at lines 123-124.

[2021-05-08 01:24] Jyers commented on #702
I've merged from upstream so now would be a good time to test if this is still happening.

[2021-05-08 01:27] Jyers commented on #557
@Schnabulation Sorry it's taken me so long to get back to this. Just a question, when you have commented line 1047 out, can you test going into the z offset menu, and with live adjust on, try just clicking in and out of the value modification without changing it. One of the primary reasons I disabled leveling in this menu was to prevent a strange inconsistency that came from the mesh offset being

[2021-05-08 01:55] rollyceballos commented on #702
will report back once I've done more testing.  Have long running prints in queue so might take a while to get back.

[2021-05-08 02:50] rollyceballos commented on #702
@Jyers I'm getting this error from the `Ender_3_V2_Extensible_UI` branch

[code]

[2021-05-08 02:53] Jyers commented on #702
Let me check, I just added a ton of things so that's to be expected

[2021-05-08 03:08] Jyers commented on #702
Okay, give it a try now

[2021-05-08 07:40] gothcha commented on #562
@tititopher68 I was able to use all my icons and the manual level additions in a single 9.ICO by deleting the chinese and other unused icons. I will use this setup for now. Marlin 2.0.8 update list is amazing, I assume almost all of it was in the latest bug fix. Makes me realise why odd things sometimes happen when Jyers releases new versions inc upstream mods!

[2021-05-08 14:12] Jyers commented on #562
@gothcha What icons did you delete? When I was organizing the icon packs, I noticed even with the Chinese and unknown icons deleted, the .ICO file was still over 226, which @tititopher68 determined to be the max.

[2021-05-08 14:13] Jyers commented on #720
Any updates on this?

[2021-05-08 14:28] gothcha commented on #562
I deleted 34,77,82,83,84,86 & 88 This saved around 10K. From my checks you were not calling any of these.

[9.ICO.zip](https://github.com/Jyers/Marlin/files/6445987/9.ICO.zip)

My addition/updates then took the file to 217K. Strangely the default DWIN in your repo is 229KB, and the MLArrows is 230KB. So it doesn't seem quite logical, it may be due to the index requirements and memory layout?

[2021-05-08 18:51] tititopher68 commented on #562
This is what I get when playing with 2 ICO files (3.ICO and 9.ICO) in my DWIN_SET.
My 9.ICO contains the Original icons and the 3.ICO contains the custom icons ....

https://user-images.githubusercontent.com/18162675/117550172-21b6fa00-b03f-11eb-9b5d-f7076b372d49.mp4

[2021-05-08 20:54] gothcha commented on #562
Neat! Mind you I cannot imagine that after loading the custom icons that anyone would switch back to the stock ones? Or am I biased?? It makes it easier to switch  but they still have to load a custom DWIN.

[2021-05-08 21:18] tititopher68 commented on #562
Yes I get it, it's just an idea of ​​what can be done.  Knowing that on my side, this will allow me to make contrasting icon packs or a light theme and a dark theme ... But by being able to manage several different ICO files, the barrier of only 226kB can be largely exceeded

[2021-05-08 21:28] gothcha commented on #562
Christophe where did you find the data on the 3,6 & 9.ICO I searched for ages and didn’t manage to find much useful?

it is certainly a great idea to have a couple of distinct custom sets, the dark/light is interesting. Can the icon numbers be spread over the ICO files, I know the limit is 256 files in an individual file. How does the switching work?

[2021-05-08 22:04] tititopher68 commented on #562
Les goûts et les couleurs ne se discutent pas...Je connais aussi des personnes préférant la sobriété (ou l'austérité) des icônes originales...
Flasher l'écran ne me dérange pas, j'ai fait une adaptation pour ne plus avoir à le démonter...

![IMG_20210508_235642](https://user-images.githubusercontent.com/18162675/117554778-1f15ce00-b05a-11eb-8484-a034a1478a76.jpg)

[2021-05-08 22:12] tititopher68 commented on #562
On peut avoir 255 entrées par fichier ICO avec la condition de ne pas dépasser 226KB par fichiers et que le total de tous les fichiers du dossier ne dépasse pas 512Ko.
Pour les infos, sur le site chinois du fabricant DWIN...et Voxelab (clone de la Ender3V2) utilise aussi cet écran avec 3 fichiers ICO.

[2021-05-08 22:34] tititopher68 commented on #562
Did you notice in the creality_dwin.h file, there is "#define ICON 0x09".  This is the 9.ICO file reference.
 If you define for example "#define ICON2 0x03", then for example, you can have DWIN_ICON_Show (ICON2, icon_index, ...) which will look for icon_undex in 3.ICO and DWIN_ICON_Show (ICON, icon2_index, ...) icon2_index in  9.ICO ...
 By modifying the Draw_Menu_Item (...) function, like I did,

[2021-05-08 22:43] gothcha commented on #562
Adaptor - Very smart but simple idea, I was getting tired of this too! I think I will give this a go.
I do take your point on the colour choices.

 Yes I get it now, no I hadn’t seen the ICON definition, this is a very simple method. Well done. Useful to extend number/size of icons too. You will certainly impress your French users with these upgrades 👍

[2021-05-08 23:22] rzblue commented on #720
Just wanted to add on my experience- ~~The LCD knob response issue only seems to happen on the home menu with the four blocks; it doesn't occur in sub menus~~ (EDIT: I've started noticing it occur everywhere). It also seems sporadic, most of the time the knob responds with 1 detent per menu item. I also noticed that even when the knob is responding properly the main menu responds to rotation slowe

[2021-05-09 00:05] firecrafty opened #743 "Home individual axis from LCD crashes axis into endstop"
### Description

Homing individual axis from LCD does not work. Axis will crash into endstop and stall stepper.

### Steps to Reproduce

1. Compile and flash firmware using default-no probe config files
2. go to prepare -> homing -> home x (or any other axis)
3. Axis will start to home and crash into endstop

**Expected behavior:** [What you expect to happen]

Axis homes properly

**Actual behavio

[2021-05-09 01:48] Jyers commented on #743
Hmmm, perhaps the home_axis function doesn't behave like I would expect. I'll switch it to a gcode parse for now.

[2021-05-09 01:53] Jyers commented on #743
Okay, should be fixed.

[2021-05-09 01:53] #743 closed

[2021-05-09 02:12] nullstalgia opened #744 "Filament Change "Please wait for prompt" after unloading and loading filament does not go away"
Only tested with the Change Filament button in Prepare, just started with the latest changes.

Config:

https://gist.github.com/nullstalgia/ffc9f56772b4032f4bf2bcd7a3562951

[2021-05-09 05:57] tititopher68 commented on #744
I confirm.  There is a problem on the latest version since the last Merge Marlin with Filament Change, Load or Unload filament (stay on the popup) and with Runout (no longer resumes printing after loading filament) ...

[2021-05-09 07:40] xantrk commented on #744
I confirm, just entered to write this

[2021-05-09 08:55] tititopher68 commented on #744
I think I found it. The problem is at pause.cpp (src \ feature \) with M600_PURGE_MORE_RESUMABLE. This variable is defined in inc / Conditionnals_post.h. For us, 2 conditions are valid: EMERGENCY_PARSER && HOST_PROMPT_SUPPORT. This results in waiting for a user action that is not defined in the firmware, that of being able to interrupt the purge at the end of the procedure ...

[2021-05-09 10:40] tititopher68 commented on #744
Fixed !
I replaced in file \Marlin\src\inc\Conditionnals_post.h
in line 2728
#if HAS_LCD_MENU || BOTH(EMERGENCY_PARSER, HOST_PROMPT_SUPPORT
by :
#if (HAS_LCD_MENU || BOTH(EMERGENCY_PARSER, HOST_PROMPT_SUPPORT)) && DISABLED(CREALITY_DWIN_EXTUI)

[2021-05-09 10:57] Alfagek commented on #604
@Jyers Jake did you fixt this problem in 1.3.2? Because i also have this problem with 1.3.2. with the 4.2.7 board. It's not always stays on the mainscreen.

What i did know, it's happen to me, when i start more prints after one succesfull print. Working with octoprint. First print i do get the print menu, after that it stays on the main screen.

Did all ready try to reset setting en store settings

[2021-05-09 13:02] tititopher68 commented on #720
@firecrafty you wrote "the main menu responds to rotation slower than stock marlin firmware." Yes of course ! because it's not the poor stock firmware....and the system is not a real multitaks and requires more execution time, but no choice if we want to benefit from features worthy of the name. Here, everything is perfectly structured in different readable and understandable module, not like the

[2021-05-09 14:17] rzblue commented on #720
I was not making a criticism of the code- I was simply adding on my experience with this issue.

[2021-05-09 14:19] rzblue commented on #743
Checked this morning- it's fixed. Thanks!

[2021-05-09 16:25] Jyers commented on #604
I don't think I ever fixed this, I'll put it on the list this time to be sure it gets done soon.

[2021-05-09 18:16] Jyers commented on #744
This seems like a good excuse for me to actually implement the extra purge system that's causing the issue here. That way it'll fix the problem AND add a new feature :) Now that's some efficiency.

[2021-05-09 19:47] Gozania opened #757 "Not sure if issue or intended function....."
Currently on 1.3.2 I noticed that when you toggle the fan on in the Control > temp settings, the fan that toggles on is BOTH the board cooling fan AND the part cooling fan.   Is this the intended function?  If so where can I toggle/tune the part cooling fan only?

[2021-05-09 20:06] tititopher68 commented on #744
I didn't quite understand what you mean.  The translation tells me that you leave the bug for the moment and that you will implement a fix later?
 I had an idea for that, but implementing this possibility requires modifying pause.h and pause.cpp a little more in depth.  I considered it best not to touch the Marlin source code too much ... Am I wrong?

[2021-05-09 20:08] nullstalgia commented on #744
@tititopher68

He will both add a new feature and fix the bug soon. :)

And yes, you are right in wanting to avoid touching Marlin source as much as possible.

[2021-05-09 20:18] asychev commented on #757
I do believe it is how Creality boards are _designed_ - the board fan and part fan are linked together and managed by the same PWM. This is why it is recommended to reconnect board fan to constant 24V supply.

[2021-05-09 20:26] tititopher68 commented on #744
@nullstalgia Yes, but while waiting for, the bug affects too many functionalities, not only the loads or changes of Filament but also all the M600 commands in the print or the pause or even the filament cuts ... The fix that I propose follows the logic of the  Marlin code in pause.cpp.  Moreover this bug exists for other types of screen like BTT TFT etc ... and as the stock version does not suppor

[2021-05-09 20:30] tititopher68 commented on #744
Jyers makes the choices he wants, no problem.  In the meantime I use the fix to not be blocked or have to destroy prints of several hours because of this bug ...

[2021-05-09 20:39] Jyers commented on #744
@tititopher68 This bug shouldn't exist for any other screens, it is purely due to the handling of the function via the DWIN code. I really need to update the dwin to a more MarlinUI centric approach, This in tern will not only fix the issue, but do so without any modification of the pause.cpp code. As for delaying the fix, that's the magic of github, you don't need to use the latest source, you ca

[2021-05-09 20:41] Cal-LF commented on #757
Move the MB fan wires to the hot end fan terminals.
![V427 MB Edit](https://user-images.githubusercontent.com/76499230/117586303-701ed400-b0e5-11eb-986e-bfd8b855ebb6.jpg)

[2021-05-09 21:25] #757 closed

[2021-05-09 21:25] Gozania commented on #757
Thank you all for the input.  Thought something may have been wrong.  Alas its all by design.

[2021-05-09 23:01] Jyers commented on #744
Done, give that a try! 😄

[2021-05-09 23:01] #744 closed, assigned to nobody

[2021-05-09 23:09] tititopher68 commented on #744
@Jyers
Well done !

[2021-05-10 01:23] Jyers commented on #744
@tititopher68 Thanks! I tried to avoid too much main code modification, while opening up the new marlinUI method for future integrations. Thanks for your work as always 😄

[2021-05-10 02:30] dcwalmsley opened #760 "Feature Request: Larger Beds Sizes (400x400mm)"
Could someone please create a BIN file for folks who increased their Ender3 using "[Ender Extender](https://enderextender.com)" kits.
I upgrade mine to 400x400mm and I'm a noob at going into the code to make the changes needed.  I did manage to add a BLTouch to my upgrade so I could use something similar to E3V2-UBL-BLTouch-10x10-HS-v4.2.2.bin or E3V2-UBL-BLTouch-10x10-HS-v4.2.7.bin (which I'm not

[2021-05-10 02:42] Tuncay-Ayhan commented on #760
The bed size is hard-coded into the configuration. You'll have to compile it yourself.

I can compile it once for you, but then you'd be stuck on that version. Let me know if you want that.

Also, what board do you have?

[2021-05-10 07:47] Schnabulation commented on #557
@Jyers No worries, Jacob! With my modification I can run the firmware perfectly fine and have a reliable Z-offset.

I have done as you asked: I have not noticed any change in the Z-offset without modification of the value. Here is how I tested:

1. Auto-home and auto-level. Save mesh to EEPROM.
2. Went into Z-offset menu, activated "Live Adjust" --> Printhead moved to center, auto-homed Z.
3. Mesu

[2021-05-10 11:55] tititopher68 commented on #557
@Schnabulation : It's really is a very strange thing.  I did your procedure, but without making your change in the firmware.  Z-Offset did not change at all ...
 Precision, I always heat my hotend before.  With a cold hotend, i have a 0.05mm gap.  This is normal, the brass nozzles always dilate a little.

[2021-05-10 12:10] Schnabulation commented on #557
Did you use your BL Touch to home the Z-axis or are you using the Z-axis switch?

[2021-05-10 12:52] Tuncay-Ayhan commented on #760
I've attached 2 ZIPS. One for 4.2.2 and one for 4.2.7 . In each ZIP there are 2 different heights.

#### 400x400x250 and 400x400x400

<br>

[E3V2-UBL-BLTouch-10x10-HS-v4.2.2-1.3.2.zip](https://github.com/Jyers/Marlin/files/6452118/E3V2-UBL-BLTouch-10x10-HS-v4.2.2-1.3.2.zip)

[E3V2-UBL-BLTouch-10x10-HS-v4.2.7-1.3.2.zip](https://github.com/Jyers/Marlin/files/6452119/E3V2-UBL-BLTouch-10x10-HS-v4.2.7-

[2021-05-10 13:36] tititopher68 commented on #557
@Schnabulation The BLTouch is connected via the Z-endstop.  I think your problem using the firmware without your mod, is the difference in accuracy between the BLTouch and the Switch.  You use 2 different elements to take the 0 point and the Z-Offset and the less precise element takes over.  You must therefore then keep the correction of the Mesh to compensate for the difference in precision and t

[2021-05-10 13:40] Schnabulation commented on #557
Thing is: I have found a solution and am using this already successfully with my personal firmware. If Jacob does not want to implement this, I'm fine with it.

[2021-05-10 14:16] Jyers commented on #760
As @Tuncay-Ayhan said, there is no way to make this available from the menu, and I don't want to overload my configs. That being said, compiling your own firmware is really not very hard, so I'd highly recommend looking into it. If you still decide you don't want to I have also just released an Auto-Compile service as a perk for my patrons on patreon if you would be interested in that.

[2021-05-10 14:16] #760 closed, assigned to nobody

[2021-05-10 14:23] smooreace commented on #760
Didn't even think about you having a Patreon... Not interested in an
auto-compile, but more than willing to toss a $$ your way for all the work
you do! Thank you!!

On Mon, May 10, 2021 at 9:17 AM Jyers ***@***.***> wrote:

[2021-05-10 14:29] Jyers commented on #760
@smooreace You never know, you might like it. Just chuck your configs in a folder and you never have to worry about building them again. Binaries are built daily so just can just grab it whenever you're looking to try the latest updates. And thanks so much for the support, it really means the world 😄

[2021-05-10 14:31] Jyers commented on #557
I just need to check for myself to make sure the bug I'm thinking of won't be an issue. I think it mainly happens if the mesh point at the middle of the bed is significantly offset. I'll test and if it's not a problem I'll implement it.

[2021-05-10 15:04] smooreace commented on #760
I will certainly take a look at it. I honestly never event thought about
using a set of config files from a prior version in future releases. Kinda
stupid I suppose! The edits I make are kinda second nature now. Copy/paste
is certainly easier!!

On Mon, May 10, 2021 at 9:29 AM Jyers ***@***.***> wrote:

[2021-05-10 15:13] Jyers commented on #760
I ran the workflow so you don't have to wait a day for your Dropbox folder to show up. Plus I'm super eager for people to test it 😅

[2021-05-10 16:17] dcwalmsley commented on #760
@Jyers, I joined your Patreon site but couldn't figure out how to get to the compile service.  I do have a Dropbox which uses the same email address as the you patreon site has on file.  What am I missing?

[2021-05-10 16:22] hippocratical opened #772 "Z endstop not recognised by Octoprint, causes crashing."
### Description
Hardware/Software used:
Ender 4 v2 using "E3V2-ManualMesh-3x3-v4.2.2.bin"
Latest version of Octoprint

Printing from SD card without Octoprint attached works great.
Connecting USB from Octoprint to Printer, and sending print head to home crashes the print head into the bed.

### Steps to Reproduce

With Octoprint connected:

When not pressing the Z endstop I get this:

Send: M119
R

[2021-05-10 18:49] Jyers commented on #772
If this is a firmware issue it would have to be an issue with base marlin, not this fork. I have yet to experience this problem, nor have I seen any other reports of it. If you need any help troubleshooting possible issues or get any more information, feel free to update this, but at the moment there's not much I can do. I would recommend opening this issue on the main marlin repo instead if you b

[2021-05-10 18:51] smooreace commented on #772
What version of Firmware are you using?

On Mon, May 10, 2021 at 11:22 AM hippocratical ***@***.***>
wrote:

[2021-05-10 18:53] smooreace commented on #760
Give him time to set up the share

On Mon, May 10, 2021 at 11:17 AM Doug Walmsley ***@***.***>
wrote:

[2021-05-10 18:56] hippocratical commented on #772
E3V2-ManualMesh-3x3-v4.2.2.bin

I also tried the E3V2-UBL-NoProbe-5x5-v4.2.2.bin

[2021-05-11 11:30] araziforum opened #784 "Printer Error Serial status mismatch"
Hi. In first thx for your kind project.
I'm using your firmware Ender 3 V2 (Manuel Bed Level 3x3 Mesh) with Octoprint v1.6 (also used 1.5).
I'm using PSU control plug in with 15 sec post on delay settings.
When I powered on my printer with octoprint I get M122 error on screen and Octoprint gets error like Printer Error Serial status mismatch. How can I fix it? or is it a bug?

Here is my log:

| L

[2021-05-11 11:33] Tuncay-Ayhan commented on #784
I assume you mean M112(logs says so).

Try and remove your sd card and restart your printer. Problem should be gone.  It happens to me to when I leave my sd card in.

Also check https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings

[2021-05-11 13:38] araziforum commented on #784
Thx. It must be 112, my fault. I will try that.

[2021-05-11 20:21] Jyers commented on #784
Feel free to update if you continue to face this issue and I can reopen this

[2021-05-11 20:48] nullstalgia opened #795 "After changing filament with Prepare menu, the menu has blank items selected, and you have to scroll up to exit the menu."
Let me know if you don't have this issue so I can record a video for you (just started a print, so unable currently.)

[2021-05-11 21:18] Jyers commented on #795
I pushed a fix that prevents menus from being initialized with the selection out of bounds like that. It's not fixing the underlying problem with it's ability to remember the last selection, but it will prevent this behavior at least.

[2021-05-11 21:18] #795 closed, assigned to nobody

[2021-05-12 00:21] tititopher68 commented on #795
I never had this behaviour...

[2021-05-12 00:31] nullstalgia commented on #795
I've had that and similar stuff on other firmwares when dialogs pop up. The
min() Jyers added should be a good enough bandaid. :)

[2021-05-12 18:37] cruzer619 opened #801 "Thermal runaway error when manually stopping print job.. either Octoprint or LCD panel"
### Description
When I manually stop a print job.  I get a Thermal runaway error either from Octoprint or LCD panel

### Steps to Reproduce

1. [First Step] : print job
2. [Second Step] : cancel job on Octoprint or Stop on LCD panel
3. [and so on...] : Thermal runaway error shows up.

**Expected behavior:** [What you expect to happen]
Stop/cancel print job, print job stops and able to reprint.

**

[2021-05-12 19:44] Jyers commented on #801
I'm still working on tuning the thermal runaway settings to provide the best balance of safety and flexibility. In the next release they will be adjusted to help alleviate such issues.

[2021-05-12 19:44] #801 closed

[2021-05-12 20:27] cruzer619 commented on #801
ok thanks.. will wait for next release

[2021-05-13 06:27] Qubi-B commented on #78
I can help with polish

[2021-05-13 22:17] agalakhov commented on #78
I can help with Russian. I also could find a helper for Japanese.

[2021-05-14 20:23] umrotzer opened #829 "Baudrate problem"
Is their a reason why u lowered the baudrate from 250000 to 152000 in your fw? What I see and read online, ender 3 v2 aso supports 250000 over serial what's more helpful for octoprint print over USB.

[2021-05-14 20:37] ComeHonourFace commented on #829
what is the baudrate?

[2021-05-14 20:57] ghost commented on #829
It's the serial speed to achieve between Ender and raspberry pi with USB.

On standard Marlin fw it's set to 250000 and in your fw it's set to 115200. Thats why I ask, if their was a reason for changing it. And sry I meaned 115200 and not 152000

I uploaded 2 pics, first is your configuration.h second is Marlin from your last release

![Screenshot_20210514-225409](https://user-images.githubusercon

[2021-05-14 21:08] t3chguy commented on #829
In the official firmware it is set to 115200

![image](https://user-images.githubusercontent.com/2403652/118331623-bc607e80-b500-11eb-8efd-1f1d6a6fd063.png)

The USB-Serial chip on the Creality boards is a CH340G - this one does not officially support 250000
https://arduino.stackexchange.com/a/43193

[2021-05-14 21:09] t3chguy commented on #829
Hell, even in Marlin's official example configs, it is 115200 for this board/machine.

https://github.com/MarlinFirmware/Configurations/blob/import-2.0.x/config/examples/Creality/Ender-3%20V2/Configuration.h#L130

[2021-05-14 21:23] #829 closed

[2021-05-15 12:13] nilvanis commented on #720
I'm also experiencing the LCD knob response issue, mostly on the home screen.

[2021-05-15 19:49] Jeffaffa opened #838 "Printer shuts off and starts up again."
Hi,

On this firmware I've have an issue that the printer shutoff and starts up again while printing.
The printer says that the power was interrupted and if I want to resume the print. This happened more often after I already completed a print and want to start a second one.

I am back on firmware 1.3.1 and everything works fine.
The board I have is a 4.2.7 with a bltouch. I hope this feedback hel

[2021-05-15 21:26] enderextender opened #840 "Mesh bed levelling = compile error"
### Description

Uncomment #MESH_BED_LEVELLING
Compile
Results in
Marlin\src\lcd\dwin\creality_dwin.cpp:257:35: error: 'z_values' was not declared in this scope
       bed_mesh_t &mesh_z_values = z_values;

### Steps to Reproduce

1. Uncomment #MESH_BED_LEVELLING
2. Compile

**Expected behavior:** [What you expect to happen]
Should compile ok

**Actual behavior:** [What actually happens]
Error
Mar

[2021-05-15 23:14] Jyers commented on #840
This firmware isn't designed to be used with the MESH_BED_LEVELING option. I would recommend starting with the ManualMesh template configs from the configuration files folder if you wish to compile a Manual Mesh build. In case you're interested, instead of MESH_BED_LEVELING, this firmware uses AUTO_BED_LEVELING_BILINEAR with PROBE_MANUALLY

[2021-05-15 23:14] #840 closed

[2021-05-15 23:16] Jyers commented on #838
Most likely sounds like a hardware issue, but I'll leave this open until the next release so we can see if the issue persists.

[2021-05-16 11:37] nullstalgia opened #842 "Pressing Cancel after a Filament Change does not close the dialog"
Also, that pre-heat menu is *nice*. But may I recommend having Continue at the top under Back? Since it seems kinda low for most people who are going to use the top slot PLA, also its hidden for first time users, but if they scroll down there it is. Just a random suggestion. :P

[2021-05-16 12:49] FerretDave opened #843 "4.2.2 filament sensor is compiled backwards?"
### Description

filament sensor is reversed?

### Steps to Reproduce

using the E3V2-Default-v4.2.2 firmware and just added a filament sensor.
Activated the 'Filament sensor' option via the menu and it's reversed - flags as no filament when it is loaded, and is ok to run if sensor has no filament loaded... I understand on the 4.2.2 board the wires are reversed to that of the 4.2.7 board - so have

[2021-05-16 13:07] Jyers commented on #843
The pin state of filament sensor is defined on compile. Unfortunately there is no way to make this accessible from the menu. You can rewire your filament sensor to work properly though. Search the issues or discussions for filament sensor wiring if your unsure what you need to do exactly.

[2021-05-16 13:07] #843 closed

[2021-05-16 13:09] Jyers commented on #842
Which popup are you referring to? The purge more popup or like the filament change confirmation?

Also you're totally right, continue would be better at the top :)

[2021-05-16 14:11] trevorgillette17 opened #844 "Extruder E-Steps"
Not sure if this is the proper place to add this but it's there a way in future releases to add the option when manually feeding the extruder that the hotend doesn't need to be heated? Such as with calculating the e-steps?

[2021-05-16 14:36] Cal-LF commented on #844
The heating of the hot end is a safety feature of Marlin.

[2021-05-16 20:00] nullstalgia commented on #842
The purge more, regardless if I do purge more or not

[2021-05-16 20:41] Woodcat64 commented on #838
This happened to me as well.

First I heard random clicking noise like it's skipping steps on extruder and while looking at it and trying to see where it's coming from. The printer just stopped and on the screen was a message something like "print was interrupted, do you want to continue?" We had no power loss, plus it's connected to UPS as well.

I said yes to continue and it just warmed up and s

[2021-05-16 23:10] nullstalgia commented on #842
But maybe you could put a second **Continue** on the bottom for people who use Custom? Unless when you set it, it also resets the cursor to the top. (I haven't tried it, just expecting it to work like the Move XYZE menu)

[2021-05-17 00:12] Jyers commented on #838
A "looks like print was interrupted" message indicates the printer did reboot. Whether it was software or hardware related is the only question. But it's most likely an individual problem of some kind either way.

[2021-05-17 00:13] Jyers commented on #844
If you want to do that simply set the extruder min temp to 0 in the advance menu.

[2021-05-17 00:13] #844 closed

[2021-05-17 03:19] Bersaker opened #849 "Change Grid for BLTouch in Source Code"
Hi, i am new in this sektion.

How can i change the grid in the source code from the UBL-BLTouch-10x10 template from 10 to 15 ?
Configuration.h or configuration_adv.h , which line ?
Thanks

[2021-05-17 05:35] nullstalgia commented on #849
In `Configuration.h` , Ctrl+F and look for "GRID_MAX_POINTS_X"

First result will probably be for ABL (Automatic Bed Levelling), go down to the part under "AUTO_BED_LEVELING_UBL" to change UBL grids.

[2021-05-17 10:24] nullstalgia commented on #842
Also, I think the "Please Wait" pop up after clicking "Continue" on the "Heater timed out" on the filament change is missing..

[2021-05-17 10:25] tubalainen opened #850 "Update of Display Firmware Readme.md"
Would it be possible to please update the readme.md file explaining the different folders and which one to pick? :)
Thanks.

![image](https://user-images.githubusercontent.com/26795429/118473935-ce157200-b70a-11eb-947b-e69246b7620f.png)

[2021-05-17 10:37] joeclifford commented on #850
There is s discussion about this.

https://github.com/Jyers/Marlin/discussions/794#discussioncomment-725172

Should be easy to add to the wiki.

[2021-05-17 11:24] tubalainen commented on #850
Yes. I am all for making 3D printing as easy as possible. There´s enough of hurdles out there already. Thats the reason.
I will make a PR for the readme.md file and also one for the Wiki.

How ever, I cannot still understand of there is a difference between Gotcha and Custom.

[2021-05-17 13:46] smooreace commented on #850
Dire need for a :facepalm: emote!

On Mon, May 17, 2021 at 6:25 AM tubalainen ***@***.***> wrote:

[2021-05-17 14:32] tubalainen commented on #850
Agreed - I hate when there is a lack of "emotes".

I do not see how helping other can be such a bummer. Its people like you that so efficient puts out all the sparks of open source and collaboration project. Please elaborate, lift, inspire, collaborate instead of just being snarky and irrelevant.

[2021-05-17 15:01] tome9111991 commented on #850
Go in Icon Packs folder.
You can see the .jpg from icons

[2021-05-17 16:58] Jyers commented on #842
I'll take a look at that

[2021-05-17 17:02] Jyers commented on #850
It's already on the wiki, I updated the display firmware section a few days ago :) https://github.com/Jyers/Marlin/wiki/Configuring-&-Flashing

[2021-05-17 17:02] #850 closed

[2021-05-17 17:02] #849 closed

[2021-05-17 17:03] Jyers commented on #849
Questions like this are better suited for a discussion, please avoid posting in the issues tab unless you have encountered a bug or problem.

[2021-05-17 17:40] Lighty1989 opened #857 "New Icons"
Hello Jyers, i created new icons

![209-ICON_LaserOff](https://user-images.githubusercontent.com/83297890/118532812-a98bbb00-b747-11eb-8d05-47f332f27e97.jpg)
![220-ICON_AxisZ](https://user-images.githubusercontent.com/83297890/118532820-aabce800-b747-11eb-824c-6a4a3e00f1bc.jpg)
![221-ICON_AxisX](https://user-images.githubusercontent.com/83297890/118532822-ab557e80-b747-11eb-8f07-b8f5b5685ba8.jpg)

[2021-05-18 00:42] tititopher68 commented on #842
fixed with :
case PurgeMore:
          if (selection==0) {
            pause_menu_response = PAUSE_RESPONSE_EXTRUDE_MORE;
            Popup_Handler(FilChange);
          } else {
            pause_menu_response = PAUSE_RESPONSE_RESUME_PRINT;
            if (printing)   Popup_Handler(Resuming);
            **else   Redraw_Menu(true, true, (active_menu==PreheatHotend));**
          }
          break

[2021-05-18 03:20] BlaydeRunner08 opened #858 "M600 filament change results in huge amount of filament being extruded while print head returns to print"
I haven't done a ton of filament changes since switching to custom firmware, but I've come across an issue.

When I insert the M600 command in my GCode, the printer responds properly by stopping, parking the head, and ejecting the filament.  Once I press the button, it feeds the new filament in, and starts to purge the old filament.  Then, once it's stopped purging, it starts returning the head to

[2021-05-18 04:14] Jyers commented on #842
Thanks @tititopher68, fix has been pushed

[2021-05-18 04:14] #842 closed

[2021-05-18 04:17] Jyers commented on #858
I believe this has been fixed in the latest source. It was an issue with base marlin. Are you running off the source files from the last release, or the latest source code?

[2021-05-18 04:19] Jyers commented on #857
I very much like the new icons, but unfortunately I don't think I'll be able to use manual leveling ones, as there is only so much space for icons on the display and the ones used currently are decent. I'll definitely keep these in mind for any new icon packs though, as I love the x, y, and z. What are the light looking ones for btw?

[2021-05-18 04:19] #857 closed

[2021-05-18 04:20] BlaydeRunner08 commented on #858
Im compiling based off the 1.3.2 release.

I’ll recompile from source and give it a go!

[2021-05-18 05:28] nullstalgia commented on #842
@Jyers

"Also, I think the "Please Wait" pop up after clicking "Continue" on the "Heater timed out" on the filament change is missing.." this is still occuring. Should I open a new issue for it?

[2021-05-18 07:53] Lighty1989 commented on #857
Laser symbol on / off, I'm still looking for a solution to turn the laser on very weakly. anycubic somehow got this solved. so that you can position yourself better. x y z icons are for the very bottom and the others for manual leveling

[2021-05-18 14:19] Friday13th87 commented on #838
I have the exact same problem. Occured several times now, the first time while i was printing something really big at around 75% (wasted nearly 250g PLA O.o )
in my serial log is always only
2021-05-09 18:09:24,096 - Unexpected error while reading serial port, please consult octoprint.log for details: SerialException: 'device reports readiness to read but returned no data (device disconnected or m

[2021-05-18 14:35] Jyers commented on #842
Oh yeah, don't worry I'll do that now.

[2021-05-18 14:38] Jyers commented on #842
Done 🙂

[2021-05-18 14:41] Jyers commented on #838
A new release should be coming out in the next day or so, so we'll see if it solves any of these issues

[2021-05-18 15:49] tititopher68-dev commented on #842
No... I don't understand...I tested and the popup " Please Wait..." isn't missing after clicking "Continue" at the end of "Heater...."

[2021-05-18 18:33] czaras opened #860 "v1.3.2 - no control screen during printing"
I've installed to my Ender 3v2 this firmware: E3V2-ManualMesh-3x3-v4.2.2.bin

When I start printing the printer screen shows a regular print screen with Tune button etc. but after a few minutes the display goes back to home screen and there's no option to display a control screen again althought the printing is still in progress, you're not able to pause or tune the current ongoing job.

I did rei

[2021-05-18 19:29] BlaydeRunner08 commented on #858
Just compiled from the current source using my tweaks to Configuration.h and Configuration_adv.h, and ran a quick test print, and confirmed that it now behaves properly.

Thanks for the heads up!

[2021-05-18 19:29] #858 closed

[2021-05-18 22:10] tititopher68 commented on #860
@czaras
Have you tried compiling your own firmware with the latest build?

[2021-05-19 06:23] SikVac commented on #860
I have the same problem. When printing starts, the screen switches to the home screen.
I solve this by switching to the Tune option immediately after starting printing. During printing, you can then select the Back option again, which puts me on the print screen. with TUNE.

[2021-05-19 07:06] czaras commented on #860
ok, good to know the temporary solution ;) but it’s an obvious bug, right? ;)

Powered by Mailbutler <https://www.mailbutler.io/?utm_source=watermark&utm_medium=email&utm_campaign=watermark-essential-email>, the email extension that does it all

[2021-05-19 07:41] tititopher68-dev commented on #860
@SikVac @czaras Sorry but, no issue with the last build on line. You have to compile your own firmware...

[2021-05-19 11:29] Cal-LF commented on #860
The next release will fix this issue. I had the same thing happen and compiling the 3X3 man mesh template fixes it.

[2021-05-20 13:35] Qubi-B opened #869 "Firmware font customization"
Can I change the font used in fw? I would like to make it more minimal. If it's possible, then how to do this? And if it's not, will it be possible in the future?

[2021-05-20 18:20] Venom1981 opened #870 "Mise à jour V1.4.3.a;"
Bonjour, pouvez me dire ou je pourrais trouver la mise à jour V1.4.3.a:?
Merci pour votre aide.
Cordialement.

[2021-05-20 18:22] Sweyn-Forkbeard commented on #869
I agree, a Sans Serif font would be cleaner and clearer

[2021-05-20 18:37] adam3654 commented on #869
I'm pretty sure the font is baked into the screen firmware file and isn't editable. I've poked around a bit and anything font related in the source code seems to be for the lcd screens. If anyone knows otherwise I'd love to hear about it, I can't stand the font either.

[2021-05-20 19:04] tititopher68 commented on #870
Bonjour, ce n'est une version du firmware originale de Jyers, mais la mienne sur ma page Github : https://github.com/tititopher68/Marlin

[2021-05-20 19:10] adam3654 commented on #869
@tititopher68 Has there been any feedback from creality as to why the screen firmware is closed source? I have searched and found nothing.

[2021-05-20 19:10] Venom1981 commented on #870
Pourriez-vous me donner le lien direct car depuis ce matin je cherche mais je n'arrive pas à trouver,🤔je suis vraiment désolé 🙏

[2021-05-20 19:19] Sweyn-Forkbeard commented on #869
I have an Ender 3 v2, I should have noted that, my understanding is that the screen can be flashed from a micro SD slot on the back of the screen, I may well be chewing on the wrong end of the stick, and I'm tired so my thought process has sort of shut down.

[2021-05-20 21:38] tititopher68 commented on #870
La version stable est celle ici : https://github.com/tititopher68/Marlin. En version 1.5.0.f maintenant. A vous de la compiler en suivant le PDF dans le dossier Documentation...

[2021-05-20 21:43] tititopher68 commented on #869
This display isn't a specific Creality Display but a DWIN display : https://beijingdwin.en.ec21.com/

[2021-05-20 22:16] Virusmater commented on #517
Hello @Jyers,
Actually on the stock firmware it sorts by recent first

[2021-05-21 02:53] Venom1981 commented on #870
D'accord merci, par contre dernière question, dans la documentation il y a écrit qu'il y a une modification de la carte maire à faire, c'est quoi comme modification ?
Désolé mais je débute 😔

[2021-05-21 10:23] STiBuki commented on #720
I am also experiencing similar encoder wheel issues on 3 separate printers. Two Ender 3v2's and a Voxelab Aquela (E3v2 clone) with extremely similar hardware, So much so that is can run the same firmware. It's defiantly related to acceleration to some extent. After some testing when scrolling at a steady state in any menu the cursor will accelerate or slow down on it's own and at times even revers

[2021-05-21 11:38] Qubi-B commented on #869
so we are unable to do anything? maybe lets make a sans serif font into normal display icons and then make it change letters to related icons? idk if its possible but thats my thought

[2021-05-21 11:42] Qubi-B commented on #860
does it do the same with 5x5 manualmesh or without manual mesh at all?

[2021-05-21 13:00] tititopher68-dev commented on #869
The screen fonts are integrated directly into the .bin file in the DWIN_SET folder.  It is impossible to modify it, because there is no source or documentation for it, including on the Chinese site of DWIN, the documentation is moreover strictly reserved ... I only received from technical support one  latest version of this .bin file which changed from v20 to v23 but without further information.

[2021-05-21 13:21] tititopher68 commented on #720
I think you haven't analyzed the firmware code.  Understandable because
difficult and not necessarily within everyone's reach.
 There is no difference between the v1.2.x versions and now on the
management of the button, which is also the one present in the factory
firmware.

 The huge difference is the size of the firmware.  The hardware is not
multitasking and does not allow it to be done.  To si

[2021-05-21 13:27] rzblue commented on #720
I don't want to be rude but your comments are coming off as very condescending and dismissive. The people commenting on this issue are simply sharing their experience with this issue.

I don't believe this issue is caused by lack of processing power. I'm not saying I know what the fix is, but simply saying fixing it is not possible is not conducive to the resolution of the issue.

Your comments ar

[2021-05-21 14:01] tititopher68-dev commented on #720
@firecrafty
 So you still haven't understood what I want to explain.  You seem to be taking this too personally!  You take this to be a kind of criticism of what is being said on the subject.  You are wrong !
 It is about explaining or trying to explain a behavior with this button precisely described and observed for a long time.  I don't have the science too.  And yes sometimes, there is not nece

[2021-05-21 14:59] smooreace commented on #869
Ide imagine that someone capable could dig through the bin file and find
the font assignment. But I can imagine how tedious that might be!

On Fri, May 21, 2021 at 8:00 AM tititopher68-dev ***@***.***>
wrote:

[2021-05-21 15:47] tititopher68-dev commented on #869
The Chinese from DWIN just sent me this:
T5UIC1 is based on Diwen Technology T5 CPU, a simplified version designed for applications that do not require a touch screen, simple UI functions, and demanding cost requirements.
 Serial command screen.
 Its main features include:
 (1) 65K color TFT display.
 (2) Basic drawing commands, Chinese and ASCII text display, support JPEG icon, JPEG picture, bar

[2021-05-21 15:54] smooreace commented on #869
Clearly the font can be modified then!

On Fri, May 21, 2021 at 10:48 AM tititopher68-dev ***@***.***>
wrote:

[2021-05-21 16:18] tititopher68-dev commented on #869
I just got some more info.  There is 1 bit at an address in the .bin for managing character spacing.
 I received a utility to extract the FONT files from the .bin and re-encode it.  I'll see that tonight.  We can a priori update the FONT via a 0T5UIC1.HZK file in the DWIN_SET folder ...
 But for the moment no information for the shape and structure of FONT ... To be continued ..

[2021-05-21 16:31] smooreace commented on #869
If you want to share what youve received I can poke at it

[2021-05-21 20:31] Sweyn-Forkbeard commented on #869
I'm disappointed that I can't help more, this was just my thing in the 80's. Sadly a brain trauma has robbed me of the ability to sit and process lines of code. You have no idea how many times I've had to use spell correct. It's frustrating. Good to see group minds working together and unpicking the framework. I wish you luck.

[2021-05-21 22:38] STiBuki commented on #720
@tititopher68 First off let me preface this reply with the fact that it is in no way directed toward you or your work personally. I very much appreciate all the hard work you and the other dev's do.

I totally 100% understand exactly what you are saying. Correct I am not a programmer and don't claim to be one. So no I have not analyzed the individual rev's code for differences. However I am in IT

[2021-05-22 06:49] SikVac commented on #860
To Qubi-B
With version "E3V2-UBL-BLTouch-15x15-HS-v4.2.2.bin"

[2021-05-22 08:55] gothcha commented on #869
Some info here about the font tool

https://www.gitmemory.com/issue/MarlinFirmware/Marlin/18825/666142596

[2021-05-22 16:23] Jyers commented on #870
Please keep fork related issues off of the main repo. Thank you!

[2021-05-22 16:23] #870 closed

[2021-05-22 16:32] Jyers commented on #869
I might actually be able to create new .HZK files with different fonts. While I was working with one of creality's new touch screens, I noticed that in the DGUS tool there is a way you can modify the font. If that same file can be applied to this display, I might be able to put any font you want on it :)

I'll take a crack at building a custom font and send over the files for anyone interested in

[2021-05-22 16:40] Jyers commented on #860
As a temporary fix, I believe this is caused by having M501 in your start gcode. Removing this should fix the issue. As @Cal-LF said though, this has been fixed and will be in the next release

[2021-05-22 16:40] #860 closed

[2021-05-22 16:42] smooreace commented on #869
The link that @gothcha posted has the tool to edit change the fount and build the .hzk file

https://www.gitmemory.com/issue/MarlinFirmware/Marlin/18825/666142596

[2021-05-22 16:44] Jyers commented on #869
@smooreace Ahh yeah, I didn't see that, That's exactly the same one found in the DGUS tool

[2021-05-22 16:50] Jyers commented on #517
Based on the marlin configuration for the stock firmware, it sorts alphabetically

[2021-05-22 21:05] Sweyn-Forkbeard commented on #869
I would certainly like to test drive any new font. As I said I'm disappointed I have lost the ability to code, it still fascinates me, My brain though just blows a fuse. I've been doing it since the mid 70's, perhaps it's time for a rest....

[2021-05-22 21:18] Qubi-B commented on #869
I'm really sorry abut that.. What happened?

[2021-05-22 21:19] smooreace commented on #869
Fortunately, no coding seems to be required

On Sat, May 22, 2021 at 4:19 PM QubiB ***@***.***> wrote:

[2021-05-22 21:57] Sweyn-Forkbeard commented on #869
Chronic and degenerative frontal brain trauma caused in a cycle crash whilst in the chasing pack, yes I had a helmet, they shatter when you bounce off the ground at 80kmh. I now ride around in different wheels (spinal injury) or stagger about and fall over a lot, much to the amusement of my best buddy, more because I'm laughing so much myself. It hasn't stopped me doing much, language still works

[2021-05-22 23:34] smooreace commented on #869
That right there is really the key to life!

On Sat, May 22, 2021 at 4:57 PM Sweyn-Forkbeard ***@***.***>
wrote:

[2021-05-23 02:11] nullstalgia commented on #842
@Jyers Sorry, but the issue is still present.

https://streamable.com/awgfbd

The only files I have modified are Config and Config_adv

[2021-05-23 03:20] Jyers commented on #842
Oh damn, I totally read your message wrong. I'll fix that tonight or early tomorrow. It's an easy fix

[2021-05-23 04:37] Jyers commented on #842
@nullstalgia Let me know if the latest commit fixes the issue

[2021-05-23 05:12] nullstalgia commented on #842
Bingo 👌

Thanks again

[2021-05-23 15:08] Jyers commented on #702
Any update on this? Haven't printed much lately so I haven't been able to check if the problem is still occurring.

[2021-05-23 15:08] Jyers commented on #720
Any updates on this? Is it still occuring with the latest release?

[2021-05-23 15:10] Jyers commented on #838
Give the newest release a try and see if you're still seeing the issue.

[2021-05-23 15:12] rollyceballos commented on #702
I haven't done testing on this yet.  I just finished my long prints and will start testing with your latest updates in the next few days :)

[2021-05-23 16:34] happycncer commented on #517
Personally, I'm not really bothered which way is  'supposedly' correct, I would like the choice to be made available to me and would really appreciate this being made as an optional setting in the advanced menu as indicated by Jyers on 17th April

As of this moment, I am numbering all my files to try to make the Most Recent First option work for me - having said that, it is not very good once one

[2021-05-23 16:48] wrchasesims commented on #720
@Jyers So sorry I haven't responded earlier!!!

So, I haven't tried the latest release and more than likely will just stick with the v1.3.2.

I never got live adjustment working, and the knob issues never went away, I've just been overlooking both issues (not using live adjustment and basically just doing as little navigation on screen as necessary to print). Haven't had time to continue to mess a

[2021-05-23 19:42] une18 commented on #838
![16217987979797491368259893916382](https://user-images.githubusercontent.com/36228588/119274290-d3e1ea80-bc17-11eb-9879-a0861779b4ae.jpg)
Started after upgrading for the latest ver 10x10 bl touch. Had not upgraded for few months. Printer works if i have it as offline printer. on error octoprint disconnects, and this turns off the smart plug

[2021-05-23 19:43] Tuncay-Ayhan commented on #838
Remove your SD card if you want to use Octoprint.

Op zo 23 mei 2021 om 21:42 schreef Anti Reiljan ***@***.***>

[2021-05-23 19:59] une18 commented on #838
I can do that, but had the card in the printer for last 6 months. Upgraded yesterday and then the problems started. Some breaking changes in the latest builds?

[2021-05-23 20:06] Tuncay-Ayhan commented on #838
It’s a know issue with Marlin. Check the Wiki pages > Octoprint

Op zo 23 mei 2021 om 21:59 schreef Anti Reiljan ***@***.***>

[2021-05-23 21:47] Jyers commented on #838
https://github.com/Jyers/Marlin/wiki/OctoPrint-Settings

This details how to disable M112 messages to avoid such issues

[2021-05-23 22:19] Virusmater commented on #517
It might be sorting alphabetically by default on the Marlin firmware, but my Ender 3 v2 came with the firmware that had sorting by a date.

[2021-05-23 22:23] Lighty1989 commented on #869
https://github.com/odwdinc/DWIN_T5UIC1_LCD

I found this

[2021-05-23 22:26] Jyers commented on #517
From what I could tell, it didn't seem like I would be able to expose the sorting as a firmware setting, but I will look into it

[2021-05-24 02:45] alexqzd opened #893 "Stuck at Heating after trying to move the extruder with a cold hot end"
### Description

When trying to advance the extruder from the move menu with a cold nozzle the user is prompted to heat the hot end. After selecting a temperature the printer gets stuck at the popup "Heating Please wait until done."

### Steps to Reproduce

1. Starting with a cold nozzle, open the move menu.
2. Click on extruder
3. Select a temperature after being prompted to do so and select Cont

[2021-05-24 02:49] alexqzd commented on #893
I have now confirmed this only happens from the Move menu. Heating the nozzle from the filament change menu works as expected

[2021-05-24 03:59] rzblue commented on #720
I have not, I've been away for a few days but I should be able to test it tomorrow evening

[2021-05-24 04:25] alexqzd commented on #893
I found the cause, a `Redraw_Menu` got lost probably during the big move. I created a pull request

[2021-05-24 09:15] Qubi-B commented on #869
Please let us know when u have the files!

[2021-05-24 16:57] #893 closed

[2021-05-24 17:00] happycncer commented on #517
From info I have read elsewhere (forgotten where from now!) it could be tied in with the fact that SDCARD_RATHERRECENTFIRST and SDCARD_SORT_ALPHA have both been defined as active in the Configuration_adv.h file - and with both being defined as active at the same time, it seems that the SDCARD_SORT_ALPHA takes precedence?

Only needs one or other to be defined - not both?

[2021-05-25 01:33] rollyceballos commented on #702
I got the v1.3.3 release tested with a print I cancelled.  I think the pop-up may have went away but there's something else that came up.  From 'Cancelling' it went to 'printing' again the same file based on the Octoprint log.

[code]

the hotend temp was still set to 180 deg though

![IMG_0314](https://user-images.githubusercontent.com/20467695/119426598-1997d380-bd3c-11eb-8453-35555cfdb0d5.jpg)

[2021-05-25 01:37] rollyceballos commented on #702
I may need to log this as a different issue but after I disconnected OctoPi and started a new print it doesn't show the Print State screen but still the SD card menu list.  It seems like it's hung up on that too I can't go out and the knob is unresponsive.  Only way to recover is a power recycle of the printer.  Let me know if I should post this as another issue?

[2021-05-25 11:53] une18 commented on #838
@Jyers  That fixed it! Thank you!

[2021-05-25 13:35] gothcha opened #901 "1.3.3 Preheat options do not reset unselected temperatures"
Jacob something I noticed when working with the new 1.3.3 (likely also for earlier versions)
When a Preheat option (Both, Hotend, Bed) is selected and the Preheat PLA clicked the unselected heaters are not reset to zero.
e.g if Preheat both was initially set and the bed and hotend heaters are active, changing the option to Bed and reselecting PLA leaves the hotend at the previous value. Currently

[2021-05-25 14:11] eblieb opened #902 "Manual Bed Leveling Disable M420"
Need to ensure M420 is set to M420 S0 before manual bed leveling or else it will mess up the bed leveling every time. I verified by running the bed leveling then manually setting M420 S0 and telling it to go to the same point and the Z height was different after disabling the leveling.

[2021-05-25 15:29] Runortyx opened #903 "Printing in the Air - BLTouch - Mesh"
Hey there,

i have flashed the E3V2-UBL-BLTouch-10x10-HS-v4.2.2-v1.3.3.bin to my Ender 3 v2
But other Firmwares before, ich got the Problem that the Bed is Manual Leveld, after that i checked the offset, and after that i mesh leveld the bed.
If iam printing, he is printing in the air, the Nozzle is way to high, nearly 2mm, but if i tune the print and level again or somtheing its way to down and no

[2021-05-25 16:28] Jyers commented on #903
It could be an issue with probe reliability. Try the z probe repeatability test in Control>Advanced>Probe

[2021-05-25 16:33] Jyers commented on #902
`#if HAS_LEVELING`
`      level_state = planner.leveling_active;`
`      set_bed_leveling_enabled(false);`
`#endif `
`Draw_Menu(ManualLevel);`

I can assure you this is already the case. If the z height changes it must be from a different factor. What leveling system are you using?

[2021-05-25 16:35] eblieb commented on #902
Where in the code is that? Using a bltouch with abl

On Tue, May 25, 2021, 12:33 Jyers ***@***.***> wrote:

[2021-05-25 16:36] Jyers commented on #901
Hmmm, I actually never considered that an issue, but you're definitely right, that functionality would make more sense. I'll fix it when I get home

[2021-05-25 16:38] Jyers commented on #902
https://github.com/Jyers/Marlin/blob/c4c58e3317045e3331c85abcb30ea4d425986f07/Marlin/src/lcd/dwin/creality_dwin.cpp#L1077

[2021-05-25 16:42] eblieb commented on #902
Strange.. Must have been a glitch then

From: Jyers ***@***.***>
Sent: Tuesday, May 25, 2021 12:39
To: Jyers/Marlin ***@***.***>
Cc: eblieb ***@***.***>; Author ***@***.***>
Subject: Re: [Jyers/Marlin] Manual Bed Leveling Disable M420 (#902)

https://github.com/Jyers/Marlin/blob/c4c58e3317045e3331c85abcb30ea4d425986f07/Marlin/src/lcd/dwin/creality_dwin.cpp#L1077

—
You are receiving this because y

[2021-05-25 18:23] mgnthe54 commented on #717
Hello I'm french.
I hope my English is not too bad!
You did a great job, thanks to you the Ender 3V2 can finally fully give its capabilities!

I have a suggestion is it possible to display in real time which layer is being printed?
 (if we took a break or something else we would know if we are far from it)
Thank you

PS: do you think one day develop a French version of your Firmware? (thank you Go

[2021-05-25 19:25] #902 closed

[2021-05-25 19:29] Jyers commented on #717
@mgnthe54 Hi!
Displaying the current layer can be achieved through the octoprint plugin DisplayLayerProgress, but isn't really possible with sd printing.
I would love to have multiple languages available in the firmware at some point, so stay tuned!

[2021-05-25 19:55] mgnthe54 commented on #717
Thank you for his information!
Too bad for the layer from the SD ...
Thank you again good continuation!

[2021-05-26 15:11] Jeffaffa commented on #838
@Jyers I am several prints further and I did not have any issues so far.

[2021-05-26 16:35] Jyers commented on #838
Great! I'll close this for now and if you see the issue again, just update this and I can reopen it.

[2021-05-26 16:35] #838 closed

[2021-05-26 18:18] tome9111991 opened #909 "Issue create mesh with changed Z step valu"
Hello
I dont know is a issue with firmware or is a general problem.
I use bltouch with 5x5(Multi Probe)

I have Z step value 400 (default)
Have no problems to create mesh looks like:
![20210526_200235](https://user-images.githubusercontent.com/57866234/119710713-f87bd380-be5e-11eb-8655-1fc40f602c6e.jpg)

In motion settings i change Steps -> Z from 400 to 408
I start auto level and after 14 from 25

[2021-05-26 18:24] smooreace commented on #909
I would expect some change, but thats pretty big!

On Wed, May 26, 2021 at 1:19 PM tome9111991 ***@***.***>
wrote:

[2021-05-26 21:34] mecra opened #910 "M900 doesn't work with 1.3.3 code. Says "unknown command""
### Description

### Steps to Reproduce

1. M900 code says unknown command.
2. https://reprap.org/forum/read.php?415,865194

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

#### Additional Information

* Include a ZIP file containing your `Configuration.h` and `Configuration_adv.h` files.
* Provide pictures or links to videos that clearly demonstra

[2021-05-26 21:35] mecra commented on #910
https://reprap.org/forum/read.php?415,865194

Someone posted a solution here to a missing linear advance config.

[2021-05-26 22:35] tititopher68-dev commented on #717
@mgnthe54
Bonjour, non c'est tout à fait possible en ajoutant au fichier Gcode des M117...Je peux vous mettre en lien un fichier python (très basique) qui ajoutera à chaque changement de couche dans le Gcode de votre fichier sur votre SD une commande M117 Layer X/nbre total de couche.
Lors de l'impression, s'affichera à chaque changement de couche le message sur l'écran, comme avec Octoprint.
Le f

[2021-05-26 23:21] JoelMajor commented on #910
Not sure, but if your printer as the 4.2.2 board you're not able to use Linear Advance.

https://www.reddit.com/r/ender3v2/comments/hsp7jn/ender_3_v2_with_linear_advance/

[2021-05-26 23:57] mecra commented on #910
If the calibration test actually prints, doesn't that mean that it works?

Matthew Larson

On May 26, 2021, at 6:21 PM, JoelMajor ***@***.***> wrote:

﻿

Not sure, but if your printer as the 4.2.2 board you're not able to use Linear Advance.

https://www.reddit.com/r/ender3v2/comments/hsp7jn/ender_3_v2_with_linear_advance/

—
You are receiving this because you authored the thread.
Reply to this em

[2021-05-27 06:31] Giadej commented on #910
https://github.com/Jyers/Marlin/discussions/707

[2021-05-27 06:33] Giadej commented on #910
https://github.com/Jyers/Marlin/discussions/707

[2021-05-27 11:26] domeOo commented on #903
I am experiencing exactly the same thing. I will test and report with an older fimrware verison

[2021-05-27 12:18] mgnthe54 commented on #717
Bonjour titotopher68 (je suppose Christophe et Alscacien?) moi c’est Gilles et 54 pour la Meurthe et Moselle... Je suis débute dans le monde du 3D et je ne suis plus tout jeune...

Super boulot que vous avez effectués, comme je le disais cela permet à la Ender 3V2 de réellement être beaucoup plus performante!

J’utilise Cura pour découper mes fichiers STL.

Je veux bien le lien du programme Python

[2021-05-27 12:29] tititopher68 commented on #717
Suite à une remarque de Jyers sur ce genre de discussion, je vous invite à me contacter via l’adresse suivante : ***@***.*** Je vous donnerai l’accès à une version du firmware plus évoluée avec toute une documentation en Français et incluant le fichier Python. Provenance : Courrier pour Windows 10 De : mgnthe54Envoyé le :jeudi 27 mai 2021 14:18À : Jyers/MarlinCc : tititopher68; AuthorObjet :Re: [J

[2021-05-27 18:56] rodolfopaulo opened #916 "First Layer Issue"
Good evening. After updating from 1.3.2, the first layer started to appear under-extruded, and in the second layer it had a bizarre behavior. It would print well in the furthest Y direction, and under-extruded in the closest Y direction. I had my bed leved, and tryed different files. I've leveded the bed every time. Went back to 1.3.2, no problems!

[2021-05-27 22:11] branlan opened #918 "E3V2-BLTouch-5x5-HS-v4.2.2-v1.3.3 M190 S{material_bed_temperature_layer_0} requires reboot after print or consequences"
### Description

When using this gcode:

One print will finish normally, but if you start a second print it will do the G29 command, preheat, but then will just start extruding filament on the spot. [see video here ](https://photos.app.goo.gl/tfhNk7cXegr8ztBu6)

Tested without the:
M190 S{material_bed_temperature_layer_0} ; heat to setting
M109 S{material_print_temperature_layer_0} ; heat to setti

[2021-05-28 01:28] Jyers commented on #910
Are you compiling your own firmware? "Linear Advance Support" in the release notes doesn't mean all builds have linear advance, it just means there is support if you want to enable it in your own build

[2021-05-28 01:30] Jyers commented on #916
After updating to 1.3.2 did you reset eeprom? After flashing go to the control menu and select reset to defaults and then store settings.

[2021-05-28 01:35] Jyers commented on #918
Wow, very strange issue. Is this printing from OctoPrint or SD card? Also did you clear eeprom after flashing the firmware?

[2021-05-28 01:37] Jyers commented on #909
Have you tried multiple times? A probe failure during leveling could probably cause such issues.

[2021-05-28 04:04] HermanGaviriaMarin opened #922 "Feature Request -- Hight Temperature Thermistor Upgrade"
Hello Grand Master Jyers (or whoever is reading),
I am interested in printing some exotic filaments that require temperatures that are above the stock max temperature (260 C). I understand that this is for safety reasons concerning the Bowden PTFE tube, to which I got an all metal hot end for. I have been told that in order to have print at higher temperatures I would have to compile my own versio

[2021-05-28 04:05] mecra commented on #910
There was another guy who made firmware that got linear to work on 4.2.2. Can't remember who it was. But no I didn't recompile. I thought it was enables by default in the new firmware.

Matthew Larson

On May 27, 2021, at 8:28 PM, Jyers ***@***.***> wrote:

﻿

Are you compiling your own firmware? "Linear Advance Support" in the release notes doesn't mean all builds have linear advance, it just mea

[2021-05-28 04:17] smooreace commented on #922
As I just mentioned... YOU compile your firmware for what hardware YOU want
it to work with.All strains of Marlin are already capable of taking
whatever thermister you chose to compile with.

On Thu, May 27, 2021 at 11:04 PM HermanGaviriaMarin <
***@***.***> wrote:

[2021-05-28 05:02] HermanGaviriaMarin commented on #922
NOOO LMAO..... I'm scared to fuck things up. But if I must I will.

[2021-05-28 05:04] tome9111991 commented on #909
Yes i have tried multiple times.
I had never a probe failure during leveling before.

can someone possibly reproduce this?

[2021-05-28 05:08] smooreace commented on #922
It's your responsibility to compile firmware the way you want it. That's
what makes open source firmware.. or anything for that matter, so great. It
gives US the power to change direction is needed. All Jyers is doing is
giving us more control of out screens. Obviously not even slightly related
to fundamental changes in hardware! Fortunately to you, and many of the
rest of us here, Marlin gives us

[2021-05-28 10:25] Schnabulation commented on #910
The thing is: Some 4.2.2 boards come with stepper drivers that support linear advance out of the box. But it's not clear which boards these are.

If you enable linear advance in the firmware (by compiling yourself) and then can print the linear advance test print then you are in luck!

[2021-05-28 10:48] Giadej commented on #910
The 4.2.2 cards to allow linear advance are those that mount the TMC2209 drivers. It is possible to identify the driver mounted simply by reading the letter written (with marker) on the card reader slot.

![117196811-431da900-ade7-11eb-86f4-76db4204d434](https://user-images.githubusercontent.com/80910217/119972210-3c332200-bfb2-11eb-8fc5-9585421a991d.jpeg)

https://github.com/Jyers/Marlin/discussi

[2021-05-28 11:08] Schnabulation commented on #910
Ah yes, you are right - there was something about the letter on the SD slot. However: my board did not have any letter on it and linear advance did not work.

[2021-05-28 11:13] #910 closed

[2021-05-28 20:27] branlan commented on #918
Printing from an SD card, and yes I did clear the eeprom after flashing the new firmware!

It is very strange, I'm wondering if somehow the

lines are being persistent through prints instead of clearing after the first print finishes, but I'm not familiar enough with gcode to know how to test that.

[2021-05-28 22:21] DrConflict opened #928 "Strange issue with bltouch not wanting to probe after reflashing back to jyers from klipper on Ender 3 v2"
FIXED: Somehow the crappy connection from the bltouch cable came loose from the mainboard at the exact time I reverted back to jyers. So totally my fault and has nothing to do with either Jyers nor klipper. Apologies. This one can be closed.

https://user-images.githubusercontent.com/48632976/120066697-f2ad0a80-c077-11eb-8913-a483bf0ac86a.mp4

Description:

When trying to home all axis after refla

[2021-05-28 22:35] smooreace commented on #928
You cant run BLT and have the Z stop at the same time without custom
compiled options

On Fri, May 28, 2021 at 5:22 PM DrConflict ***@***.***> wrote:

[2021-05-29 00:28] Bram-Brooks commented on #928
@smooreace Not sure what you mean with that. I don't have the z endstop attached to the printer anymore since I have been using the bltouch for a long time.

[2021-05-29 04:41] smooreace commented on #928
Thats what typically causes what you are describing

On Fri, May 28, 2021 at 7:28 PM DrConflict ***@***.***> wrote:

[2021-05-29 10:29] vhristenco commented on #928
@smooreace I have both the bltouch and the z-stop plugged in and it runs without any issues.

[2021-05-29 10:33] Bram-Brooks commented on #928
@smooreace Yeah but why would I have a Z stop endswitch on my machine when my bltouch acts as the z endstop. I took it off once i installed my Bltouch.

[2021-05-29 12:59] MStinso opened #930 "Progressbar jumps from 0 to 100 and Heating stops"
Hello everybody,
when i start printing, the printer heats up normally and then starts printing. After about 1 minute of printing, the progress bar jumps to 100% and the confirm window appears (actual printing time 4 hours). The printer stops heating and continues to print. after clicking on confirm it does not stop either.
I have already tested several slicers and different firmware versions.

I h

[2021-05-29 13:30] smooreace commented on #928
@DrConflict ... a lot of people seem to make the mistake. And generally, its when they are new and have just installed the BLT. And, some people have their BLT plugged into the Z stop port... no clue. Was just an idea

@vhristenco ... the only way that would be working is if the z-stop is so far below the point where the BLT triggers that its never tripped... which would cause the problem Conflict

[2021-05-30 04:34] ubeyou commented on #922
https://patreon.com/Jyers

you can just pay Jyers $5 per month to access the auto compile service. It's cheaper than a filament.

[2021-05-30 07:01] HermanGaviriaMarin commented on #922
Would this make it easier for me to create those changes ? Or is this just a way to not have to use visual studio code ? Also while in visual studio code there was no pre-set for the 5x5 mesh with BL touch, only 3x3, is there a simple way to change this ?

[2021-05-30 09:50] xantrk opened #934 "Cannot start print from SD after preheat."
### Description

I usually, preheat, change filament, and go print menu from SD card. Selecting the file does not start the print. After a power cycle it works.
### Steps to Reproduce

1. Preheat
2. Change filament
3. (Optional) Cooldown, then preheat bed only (E heater sometimes affect probing)
4. Go to print from SD menu
5. Select a file, nothing happens
6. Power cycle, it works.

[2021-05-30 12:45] Cal-LF commented on #934
I have no issue with preheat then going to print the object. Just tried it. There is a delay of about 30 seconds as the temps align to the slicer settings. Try waiting a little longer for print to start.